<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}: 
    </span>
    {% include 'Celsius3CoreBundle:SuperadminMail:_index_sort.html.twig' %}
</div>
<div class="clearfix"></div>
{% for mails in pagination %}
<div id="id{{ mails.id }}" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ mails.id }}" data-parent="#id{{ mails.id }}" data-toggle="collapse" class="accordion-toggle">
                <span>{{ mails.title }}</span>
            </a>
            {% include 'Celsius3CoreBundle:SuperadminMail:_index_list_actions.html.twig' %}  
        </div>
        <div class="accordion-body collapse" id="collapse{{ mails.id }}">
            <div class="accordion-inner">
                {% include 'Celsius3CoreBundle:SuperadminMail:_show_fields.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}