<div class="span6">
    <div class="well">
        <h2>{{ 'Orders'|trans }}</h2>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Filters'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('admin_order', { 'state[]': constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__CREATED') }) }}">{{ 'Created'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__CREATED')] }})</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order', { 'state[]': constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED') }) }}">{{ 'Being searched'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED')] }})</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order', { 'state[]': constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__REQUESTED') }) }}">{{ 'Requested'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__REQUESTED')] }})</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order', { 'state[]': constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__APPROVAL_PENDING') }) }}">{{ 'Approval pending'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__APPROVAL_PENDING')] }})</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order', { 'state[]': constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__RECEIVED') }) }}">{{ 'Received'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__RECEIVED')] }})</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order')~'?state[]=' ~ constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__DELIVERED') ~'&state[]='~ constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__CANCELLED') ~'&state[]=' ~ constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__ANNULLED') }}">{{ 'Ended'|trans }} ({{ orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__DELIVERED')]+orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__CANCELLED')]+orderCount[constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__ANNULLED')] }})</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Operations'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('admin_order_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order') }}"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>