<div class="span6">
    <div class="well">
        <h2>{{ 'Other'|trans }}</h2>
        <ul class="nav nav-list">
            <li>
                <a href="#">{{ 'News'|trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'Catalogs'|trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'Journals'|trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'Mail templates'|trans }}</a>
            </li>
            <li>
                <a href="#">{{ 'Configuration'|trans }}</a>
            </li>
        </ul>
    </div>
</div>