<div class="span6">
    <div class="well">
        <h2 class="pull-left">{{ 'Users'|trans }}</h2>
        <div class="pull-right">
            {% from "CelsiusCelsius3Bundle:Macro:admin.html.twig" import admin_search as search %}
            {{ search(path('administration_search'), '#') }}
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Filters'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('admin_user', { 'state[]': 'pending' }) }}">{{ 'Pending'|trans }} ({{ userCount['pending'] }})</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Operations'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('admin_user_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user') }}"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Custom fields'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('admin_customuserfield_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_customuserfield') }}"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                
            </div>
        </div>
    </div>
</div>