<div class="span6">
    <div class="well">
        <h2 class="pull-left">{{ 'Users'|trans }}</h2>
        <div class="pull-right">
            <form action="{{ path('administration_search') }}" method="GET" class="form-search admin_search">
                <input type="text" name="keyword" id="keyword" value="{{ app.request.get('keyword') }}" class="input-medium search-query" />
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Filters'|trans }}
                    </li>
                    <li>
                        <a href="#">{{ 'New'|trans }} (122)</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Rejected'|trans }} (122)</a>
                    </li>
                    <li class="nav-header">
                        {{ 'Operations'|trans }}
                    </li>
                    <li>
                        <a href="#">{{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>