{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Administration'|trans }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span9">
            {% include 'CelsiusCelsius3Bundle:Administration:_dash.html.twig' %}
            <div id="accordion" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#orders" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <i class="icon-file"></i> {{ 'Orders'|trans }}
                        </a>
                    </div>
                    <div class="accordion-body in collapse" id="orders">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                                <li><i class="icon-list"></i> <a href="{{ path('order') }}">{{ 'List'|trans }}</a></li>
                                <li><i class="icon-plus"></i> <a href="{{ path('order_new') }}">{{ 'New'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#users" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <i class="icon-user"></i> {{ 'Users'|trans }}
                        </a>
                    </div>
                    <div class="accordion-body collapse" id="users">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                                <li><i class="icon-list"></i> <a href="{{ path('user') }}">{{ 'List'|trans }}</a></li>
                                <li><i class="icon-plus"></i> <a href="{{ path('user_new') }}">{{ 'New'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a href="#news" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <i class="icon-font"></i> {{ 'News'|trans }}
                        </a>
                    </div>
                    <div class="accordion-body collapse" id="news">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                                <li><i class="icon-list"></i> <a href="{{ path('news') }}">{{ 'List'|trans }}</a></li>
                                <li><i class="icon-plus"></i> <a href="{{ path('news_new') }}">{{ 'New'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            {% from "CelsiusCelsius3Bundle:Macro:crud.html.twig" import admin_search as admin_search %}
            {{ admin_search() }}
        </div>
    </div>
</div>
{% endblock %}
