{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Administration'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        {% include 'CelsiusCelsius3Bundle:Administration:_dash.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="well">
            <h2>{{ 'Orders'|trans }}</h2>
            <ul class="nav nav-list">
                <li class="nav-header">
                    {{ 'Filters'|trans }}
                </li>
                <li>
                    <a href="#">{{ 'New'|trans }} (100)</a>
                </li>
                <li>
                    <a href="#">{{ 'Being searched'|trans }} (200)</a>
                </li>
                <li>
                    <a href="#">{{ 'Requested'|trans }} (147)</a>
                </li>
                <li>
                    <a href="#">{{ 'Received'|trans }} (45)</a>
                </li>
                <li>
                    <a href="#">{{ 'Delivered'|trans }} (214)</a>
                </li>
                <li class="nav-header">
                    {{ 'Operations'|trans }}
                </li>
                <li>
                    <a href="#">{{ 'Add'|trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'List'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h2>{{ 'Users'|trans }}</h2>
            <div class="row">
                <div class="span3">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            {{ 'Filters'|trans }}
                        </li>
                        <li>
                            <a href="#">{{ 'New'|trans }} (122)</a>
                        </li>
                        <li>
                            <a href="#">{{ 'Rejected'|trans }} (122)</a>
                        </li>
                        <li class="nav-header">
                            {{ 'Operations'|trans }}
                        </li>
                        <li>
                            <a href="#">{{ 'Add'|trans }}</a>
                        </li>
                        <li>
                            <a href="#">{{ 'List'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h2>{{ 'Other'|trans }}</h2>
            <ul class="nav nav-list">
                <li>
                    <a href="#">{{ 'News'|trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'Catalogs'|trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'Journals'|trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'Mail templates'|trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'Configuration'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
