{% block form_row %}
    {% spaceless %}
        {% set class = (form.vars.attr.class is defined ? form.vars.attr.class : '') %}
        {% if form.count == 0 %}
            {% set class = class ~ ' form-control' %}
        {% endif %}
        <div class="form_group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form, { 'attr': { 'class': class } }) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon is defined %}
            <span class="glyphicon glyphicon-{{ icon }}"></span>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget -%}



{% block checkbox_widget -%}
    <input type="checkbox" id="{{ form.vars.id }}" class="form-check-input" name="{{ form.vars.full_name }}"
           value="{{ form.vars.value }}" {% if form.vars.checked %} checked {% endif %} />
{%- endblock checkbox_widget %}


{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {%- set icon = 'ok' -%}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="form-check">
                <label class="form-check-label">
                    {{- form_widget(child) -}}
                    {{ child.vars.label | trans }}
                </label>
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}