<li>
    <a href="{{ path('admin_mails') }}">
        <span class="glyphicon glyphicon-envelope"></span> {{ 'Mail templates'|trans }}
    </a>
</li>
<li>
    <a href="{{ path('admin_customuserfield') }}">
        <span class="glyphicon glyphicon-th-list"></span> {{ 'Custom user fields'|trans }}
    </a>
</li>
<li>
    <a href="{{ path('administration') }}">
        <span class="glyphicon glyphicon-home"></span> {{ 'Go back'|trans }}
    </a>
</li>
