{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Instance Configuration'|trans }}
{% endblock %}

{% block content %}
<h2>{{ 'Instance Configuration' }}</h2>

<div class="row">
    <div class="col-md-9">
        {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}
        <form action="{{ path('admin_instance_update_configuration', { 'code': app.request.get('code'), 'id': document.id }) }}" method="post" {{ form_enctype(configure_form) }} class="form" role="form">
            {{ form_widget(configure_form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-button"><span class="glyphicon glyphicon-ok"></span> {{ 'Save'|trans }}</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse in collapse" id="collapseTwo">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('admin_mails') }}">
                                    <span class="glyphicon glyphicon-envelope"></span> {{ 'Mail templates'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_customuserfield') }}">
                                    <span class="glyphicon glyphicon-th-list"></span> {{ 'Custom user fields'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('administration') }}">
                                    <span class="glyphicon glyphicon-home"></span> {{ 'Go back'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ form_javascript(configure_form) }}
{% endblock %}