{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Instance Configuration'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        label.form-check-label input {
            margin-right: 20px;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="col-xs-12">
        <div class="panel panel-body">
            <div class="panel-heading">
                <h2>{{ 'Intercambio entre Instituciones con nuestra Instancia' }}</h2>
            </div>
            <hr class="separator_hr">


            <form method="post" name="form_intercambio">
                <div class="row">
                    <div class="col-lg-3">
                        <select class="form-control operators-select" name="institucion" id="form_institucion">
                            <option value="">{{ 'institution' | trans }}</option>
                            {% for i in instituciones %}
                                <option value="{{ i.id }}">{{ i.name|e }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <select class="form-control operators-select" name="user" id="form_anio_desde">
                                <option value="">{{ 'initialYear' | trans }}</option>
                                {% set actual = date().format('Y') %}
                                {% for i in 2001..actual %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <select class="form-control operators-select" name="user" id="form_anio_hasta">
                                <option value="">{{ 'finalYear' | trans }}</option>
                                {% set actual = date().format('Y') %}
                                {% for i in 2001..actual %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <button  type="button" class="btn btn-success" onclick="buscarResultado()">Procesar</button>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
            <div style="display: none" id="resultado">Procesando, espere por favor...</div>
            <div class="col-md-12">
                <!-- LINE CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Instancia: <span id="instancia_nombre"></span></h3>
                        <p>Solicitudes de usuarios de la institución seleccionada atendidas por esta instancia.</p>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="resultado_institutionInteraction">

                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- BAR CHART -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Institucion: <span id="institucion_nombre"></span></h3>
                        <p>Solicitudes de esta instancia atendidas por la institución seleccionada.</p>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="resultado_instanceInteraction">

                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->




            </div>


        </div>

    </div>
{% endblock %}



{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#form_fecha_desde').datepicker({ dateFormat: 'yy-mm-dd' });
            $('#form_fecha_hasta').datepicker({ dateFormat: 'yy-mm-dd' });
        });

           function buscarResultado() {
               var parametros = {
                   "id": $("#form_institucion").val(),
                   'anio_desde': $("#form_anio_desde").val(),
                   'anio_hasta': $("#form_anio_hasta").val()

               };
               $.ajax({
                   data: parametros,
                   url: '{{ path('admin_instance_interaction_get') }}',
                   type: 'post',
                   beforeSend: function () {
                       $("#resultado").show();
                       $("#resultado_operadores").html("");
                   },
                   success: function (response) {
                       $("#resultado").hide();
                       console.log(response);
                       $('#instancia_nombre').html(response.instance);
                       $("#institucion_nombre").html(response.institution)

                       var resultado_instanceInteraction= (response.instanceInteraction) ? response.instanceInteraction.data : [];
                       var resultado_institutionInteraction= (response.institutionInteraction) ? response.institutionInteraction.data : [];
                       var html_resultado_instanceInteraction="<table class='table'><tr><th>{{ 'Anio' | trans }}</th><th>{{ 'Requested_s' | trans }}</th><th>{{ 'Received_s' | trans}}</th><th>{{ 'Reclaimed' | trans }}</th><th>{{ 'Cancelled' | trans }}</th></tr>"
                       var tr_resultado_instanceInteraction='';
                       jQuery.each( resultado_instanceInteraction, function( i, val ) {
                           var received=val.received ?? 0;
                           var requested=val.requested ?? 0;
                           var reclaimed=val.reclaimed ?? 0;
                           var cancelled=val.cancelled ?? 0;

                           tr_resultado_instanceInteraction=tr_resultado_instanceInteraction+"<tr><td>"+i+"</td><td>"+requested+"</td><td>"+received+"</td><td>"+reclaimed+"</td><td>"+cancelled+"</td></tr>";
                            console.log(i)
                       });
                       html_resultado_instanceInteraction=html_resultado_instanceInteraction+tr_resultado_instanceInteraction+"</table>";


                       var html_resultado_institutionInteraction="<table class='table'><tr><th>{{ 'Anio' | trans }}</th><th>{{ 'Created' | trans }}</th><th>{{ 'Searched_s' | trans }}</th><th>{{ 'Requested_s' | trans }}</th><th>{{ 'Received_s' | trans}}</th><th>{{ 'Delivered' | trans }}</th></tr>"
                       var tr_resultado_institutionInteraction='';
                       jQuery.each( resultado_institutionInteraction, function( i, val ) {
                           var created=val.created ?? 0;
                           var delivered=val.delivered ?? 0;
                           var received=val.received ?? 0;
                           var requested=val.requested ?? 0;
                           var searched=val.searched ?? 0;

                           tr_resultado_institutionInteraction=tr_resultado_institutionInteraction+"<tr><td>"+i+"</td><td>"+created+"</td><td>"+searched+"</td><td>"+requested+"</td><td>"+received+"</td><td>"+delivered+"</td></tr>";
                           console.log(i)
                       });
                       html_resultado_institutionInteraction=html_resultado_institutionInteraction+tr_resultado_institutionInteraction+"</table>";


                       $("#resultado_instanceInteraction").html(html_resultado_instanceInteraction);
                       $("#resultado_institutionInteraction").html(html_resultado_institutionInteraction);

                   }
               });
           }
    </script>
{% endblock %}