<div class="panel-group" id="orderuser-accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#orderuser-accordion" href="#collapseOne">
                    {{ 'Orders and Users data'|trans }}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table id="orderuser-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ 'Provision Orders'|trans }}</th>
                            <th colspan="4">{{ 'Search Orders'|trans }}</th>
                            <th colspan="2">{{ 'Users'|trans }}</th>
                        </tr>
                        <tr>
                            <th>{{ 'Instance'|trans }}</th>
                            <th>{{ 'Country'|trans }}</th>
                            <th>{{ 'Total Orders'|trans }}</th>
                            <th>{{ 'Active'|trans }}</th>
                            <th>{{ 'Pending'|trans }}</th>
                            <th>{{ 'Searched'|trans }}</th>
                            <th>{{ 'Requested'|trans }}</th>
                            <th>{{ 'Satisfied'|trans }}</th>
                            <th>{{ 'Pending'|trans }}</th>
                            <th>{{ 'Total'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
