<div>
    <h2>{{ 'Other'|trans }}</h2>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_user') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ 'Users'|trans }}</a>
                        <a href="{{ path('superadmin_user_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_news') }}" class="btn btn-default"><span class="glyphicon glyphicon-font"></span> {{ 'Directory News'|trans }}</a>
                        <a href="{{ path('superadmin_news_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <a href="{{ path('superadmin_directory_configure') }}" class="btn btn-default btn-group-alone"><span class="glyphicon glyphicon-list"></span> {{ 'Configure Directory'|trans }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_order') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ 'Orders'|trans }}</a>
                        <a href="{{ path('superadmin_order_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_contact') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ 'Contacts'|trans }}</a>
                        <a href="{{ path('superadmin_contact_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#message-modal" class="btn btn-default btn-group-alone">{{ 'Software update message'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="message-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('superadmin_software_update_message') }}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'message.modal.header' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <textarea name="message" class="summernote"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.close' | trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ 'message.modal.button.save' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>