<div>
    <h2>{{ 'Other'|trans }}</h2>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_user') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ 'Users'|trans }}</a>
                        <a href="{{ path('superadmin_user_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_news') }}" class="btn btn-default"><span class="glyphicon glyphicon-font"></span> {{ 'Directory News'|trans }}</a>
                        <a href="{{ path('superadmin_news_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_order') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ 'Orders'|trans }}</a>
                        <a href="{{ path('superadmin_order_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </li>
                <li>
                    <a href="{{ path('superadmin_directory_configure') }}" class="btn btn-default btn-group-alone"><span class="glyphicon glyphicon-list"></span> {{ 'Configure Directory'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
