<div class="well">
    <h2>{{ 'Other'|trans }}</h2>
    <div class="row">
        <div class="span3">
            <ul class="unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_user') }}" class="btn"><i class="icon-list"></i> {{ 'Users'|trans }}</a>
                        <a href="{{ path('superadmin_user_new') }}" class="btn"><i class="icon-plus"></i></a>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_news') }}" class="btn"><i class="icon-font"></i> {{ 'News'|trans }}</a>
                        <a href="{{ path('superadmin_news_new') }}" class="btn"><i class="icon-plus"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span2">
            <ul class="unstyled btn-group-list">
                <li>
                    <div class="btn-group">
                        <a href="{{ path('superadmin_order') }}" class="btn"><i class="icon-list"></i> {{ 'Orders'|trans }}</a>
                        <a href="{{ path('superadmin_order_new') }}" class="btn"><i class="icon-plus"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>