{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'method': 'POST', 'attr': { 'class': 'form-horizontal', 'role': 'form', 'novalidate': 'novalidate' } }) }}

<div class="form-group {% if not form.name.vars.valid %} has-error {% endif %}">
    {{ form_label(form.name, null, { label_attr: { class: 'col-sm-3 control-label pull-rigth' } }) }}
    <div class="col-sm-9">
        {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
        {% for error in form.name.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>

<div class="form-group {% if not form.surname.vars.valid %} has-error {% endif %}">
    {{ form_label(form.surname, null, { label_attr: { class: 'col-sm-3 control-label pull-rigth' } }) }}
    <div class="col-sm-9">
        {{ form_widget(form.surname, { attr: { class: 'form-control' } }) }}
        {% for error in form.surname.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>

<div class="form-group {% if not form.birthdate.vars.valid %} has-error {% endif %}">
    {{ form_label(form.birthdate, null, { label_attr: { class: 'col-sm-3 control-label pull-rigth' } }) }}
    <div class="col-sm-9">
        {{ form_widget(form.birthdate, { attr: { class: 'form-control date' } }) }}
        {% for error in form.birthdate.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>

<div class="form-group {% if not form.address.vars.valid %} has-error {% endif %}">
    {{ form_label(form.address, null, { label_attr: { class: 'col-sm-3 control-label pull-rigth' } }) }}
    <div class="col-sm-9">
        {{ form_widget(form.address, { attr: { class: 'form-control' } }) }}
        {% for error in form.address.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>

<button type="submit" class="btn btn-primary submit-button">
    <span class="glyphicon glyphicon-ok"></span> {{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
</button>
<a href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a>

{{ form_end(form) }}

