<div class="fos_user_user_show">
    <p>{{ 'Name'|trans }}: {{ user.name }}</p>
    <p>{{ 'Surname'|trans }}: {{ user.surname }}</p>
    <p>{{ 'Birthdate'|trans }}: {{ user.birthdate|localizeddate('medium','none') }}</p>
    <p>{{ 'Address'|trans }}: {{ user.address }}</p>
</div>
