<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }} - </li>
    <li>{{ pagination.sortable('Abbreviation'|trans, 'abbreviation')|raw }} - </li>
    <li>{{ pagination.sortable('ISSN'|trans, 'ISSN')|raw }} - </li>
    <li>{{ pagination.sortable('ISSNE'|trans, 'ISSNE')|raw }}</li>
</ul>