<table class="table table-hover catalog-table">
    <thead>
        <tr>
            <th>{{ 'Catalog'|trans }}</th>
            <th>{{ 'Result'|trans }}</th>
            <th>{{ 'State'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% set searches = get_searches(request) %}
    {% for catalog in get_catalogs(instance) %}
        <tr>
            <td class="catalog-data">
                <p>{{ catalog.name }}</p>
                <p><a href="{{ catalog.url }}" target="_blank">{{ catalog.url }}</a></p>
            </td>
            <td class="catalog-result">
                {% set search = search_exists(searches, catalog) %}
                {% if search %}
                    {{ search.date|localizeddate }}
                {% endif %}
            </td>
            <td class="catalog-marker">
                {% set result = constant('Celsius3\\CoreBundle\\Manager\\CatalogManager::CATALOG__NOT_SEARCHED') %}
                <input type="radio" class="mark-catalog" title="{{ 'Non Searched'|trans }}" name="catalog{{ catalog.id }}" value="{{ result }}" {{ (search and search.result == result )?'checked="checked"':'' }} />
                {% set result = constant('Celsius3\\CoreBundle\\Manager\\CatalogManager::CATALOG__FOUND') %}
                <input type="radio" class="mark-catalog" title="{{ 'Found'|trans }}" name="catalog{{ catalog.id }}" value="{{ result }}" {{ (search and search.result == result )?'checked="checked"':'' }} />
                {% set result = constant('Celsius3\\CoreBundle\\Manager\\CatalogManager::CATALOG__PARTIALLY_FOUND') %}
                <input type="radio" class="mark-catalog" title="{{ 'Partially Found'|trans }}" name="catalog{{ catalog.id }}" value="{{ result }}" {{ (search and search.result == result )?'checked="checked"':'' }} />
                {% set result = constant('Celsius3\\CoreBundle\\Manager\\CatalogManager::CATALOG__NOT_FOUND') %}
                <input type="radio" class="mark-catalog" title="{{ 'Not Found'|trans }}" name="catalog{{ catalog.id }}" value="{{ result }}" {{ (search and search.result == result )?'checked="checked"':'' }} />
            </td>
            <td class="catalog-actions">
                <a href="#" class="btn">{{ 'Request' }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>