{% extends 'Celsius3CoreBundle:Order:_index_element.html.twig' %}

{% block admin_data %}
<div class="busquedas">
    {{ 'searches'|trans }}: {{ count_searches(request) }}
</div>
{% endblock %}

{% block admin %}
    <div class="order-operator">
        <a href="#">{{ request.operator }}</a>
    </div>

    <div class="order-actions">
        <ul class="list-unstyled actions">
            <li>
                <a href="{{ path('admin_order_show', { 'id': element.id }) }}"><span class="glyphicon glyphicon-file"></span></a>
            </li>
            <li>
                <a href="{{ path('admin_order_edit', { 'id': element.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
            </li>
        </ul>
    </div>
{% endblock %}
