{% if hasState %}
<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
        <dl class="dl-horizontal">
            <dt>{{ 'Creation Date'|trans }}</dt>
            <dd>
                {{ request.hasState(constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED'))?request.getState(constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED')).date|localizeddate():'' }}
                ({{ request.hasState(constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED'))?request.getState(constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED')).date|time_ago_in_words:'' }})
            </dd>
        </dl>
    </div>
</div>
{% endif %}