{% extends 'Celsius3CoreBundle:Order:_show_fields.html.twig' %}

{% block statelist %}
{% set request = element.request(instance) %}
<div class="well">
    <ul class="state-list">
        {% for key, state in get_positive_states() %}
            <li>{{ render_state_header(key, request)|raw }}</li>
        {% endfor %}
    </ul>
</div>
<div id="state-info">
    {% for key, state in get_positive_states() %}
        {{ render_state_body(key, request)|raw }}
    {% endfor %}
</div>
{% endblock %}

{% block extrafields %}
{% set request = element.request(instance) %}
<dt>{{ 'Current state'|trans }}</dt>
<dd>{{ request.getCurrentState().type.name|capitalize }} {{ 'since'|trans }} {{ request.getCurrentState().date|localizeddate }} ({{ request.getCurrentState().date|time_ago_in_words }})</dd>
<dt>{{ 'User'|trans }}</dt>
<dd><a href="{{ path('admin_user',{ 'id': request.owner.id }) }}">{{ request.owner.username }}</a></dd>
{% endblock %}
