{% set request = document.request(instance) %}
<li>
    <a href="{{ path('admin_order') }}">
        <span class="glyphicon glyphicon-home"></span> {{ 'Go to the list'|trans }}
    </a>
</li>
<li>
    <a href="{{ path(['admin_order_edit']|join, { 'id': document.id }) }}">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}
    </a>
</li>
{% if request.currentState.type.name in [constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED'), constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__SEARCHED')] %}
<li>
    <form action="{{ path('admin_order_event', { 'id': document.id, 'event': constant('Celsius3\\CoreBundle\\Manager\\EventManager::EVENT__ANNUL') }) }}" method="post" class="inline-form">
        <a class="submit-form" href="#"><i class="glyphicon glyphicon-ban-circle"></i> {{ 'annul'|capitalize|trans }}</a>
    </form>
</li>
{% endif %}
{% if request.currentState.type.name in [constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__SEARCHED'), constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__REQUESTED'),
constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__APPROVAL_PENDING')] %}
<li>
    <form action="{{ path('admin_order_event', { 'id': document.id, 'event': constant('Celsius3\\CoreBundle\\Manager\\EventManager::EVENT__CANCEL') }) }}" method="post" class="inline-form">
        <a class="submit-form" href="#"><i class="glyphicon glyphicon-remove"></i> {{ 'cancel'|capitalize|trans }}</a>
    </form>
</li>
{% endif %}
{% if request.currentState.type.name != constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CREATED') %}
<li>
    <form action="{{ path('admin_order_undo', { 'id': document.id }) }}" method="post" class="inline-form">
        <a class="submit-form" href="#"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'back to previous state'|capitalize|trans }}</a>
    </form>
</li>
{% endif %}