<a class="{{ hasState?'':'disabled' }} {{ hasPrevious?'pointer':'' }}" data-toggle="{{ hasPrevious?'collapse':'' }}" data-parent="#state-info" href="#{{ 'info_'~state~(hasState?'':'_disabled') }}">
    {{ state|replace({ '_': ' ' })|capitalize|trans }}
</a>