{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Order View'|trans }}
{% endblock %}

{% block content %}
<div ng-app="orderApp">
    <div id="cuerpo_pedido" ng-view>

    </div>
</div>

{% set request = document.request(instance) %}
<div id="request-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="request-modal-label">{{ 'Request'|trans }}</h3>
            </div>
            <div class="modal-body">
                <form id="requestForm" action="{{ path('admin_order_event', { 'id': request.order.id, 'event': constant('Celsius3\\CoreBundle\\Manager\\EventManager::EVENT__REQUEST') })|raw }}" method="post" class="form-horizontal">
                    {{ form_widget(request_form, {'form_type': 'horizontal'}) }}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary doSubmit" value="#requestForm">{{ 'Save'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/celsius3core/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/celsius3core/js/angular-route.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/celsius3core/js/angular-resource.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/celsius3core/js/sortable.js') }}"></script>
<script type="text/javascript" src="/ng-app/AdminOrder/js/app.js"></script>
<script type="text/javascript" src="/ng-app/AdminOrder/js/resources.js"></script>
<script type="text/javascript" src="/ng-app/AdminOrder/js/controllers.js"></script>
<script type="text/javascript" src="/ng-app/AdminOrder/js/filters.js"></script>
{% endblock %}