<div id="accordion" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                <i class="icon-wrench"></i> {{ 'Actions'|trans }}
            </a>
        </div>
        <div class="accordion-body in collapse" id="collapseTwo">
            <div class="accordion-inner">
                <ul class="unstyled">
                    <li>
                        <a href="{{ path('fos_message_inbox' )}}"><i class="icon-inbox"></i> {{ 'Go to Inbox'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_message_sent' )}}"><i class="icon-envelope"></i> {{ 'Go to Sent'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>