<div class="navigation">
    {{ knp_pagination_render(threads) }}
</div>
<form action="{{ path('fos_message_mark_read') }}" method="POST">
    <div class="sorting-group pull-right">
        <span>
            {{ 'Sort by'|trans }}:
        </span>
        <ul class="list-unstyled">
            <li>{{ knp_pagination_sortable(threads, 'Date'|trans, 't.createdAt') }} - </li>
            <li>{{ knp_pagination_sortable(threads, 'Subject'|trans, 't.subject') }}</li>
        </ul> | 
        <button type="submit" class="btn btn-default btn-sm" title="{{ 'button.mark_read' | trans }}" data-toggle=""><span class="glyphicon glyphicon-ok"></span></button>
    </div>
    <div class="clearfix"></div>
    {% for thread in threads %}
        <div id="id{{ thread.id }}">

            <div class="message-heading {{ fos_message_is_read(thread)?'message-read':'' }}">
                <span class="col-md-1">
                    <input type="checkbox" name="threads[]" value="{{ thread.id }}"/>
                </span>
                <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                    <span class="label label-default message-creator col-md-2">
                        {{  thread.lastMessage.sender.fullName | slice(0, 20) }}
                    </span>
                    <span class="message-subject col-md-7 autoellipsis">
                        ({{ get_unread_messages(thread) }}) {{ thread.subject }}
                    </span>
                    <span class="pull-right">
                        {{ thread.lastMessage.createdAt|localizeddate }}
                    </span>
                    <span class="clearfix"></span>
                </a>
            </div>

        </div>
    {% else %}
        {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
    {% endfor %}
</form>
<div class="navigation">
    {{ knp_pagination_render(threads) }}
</div>
