<div class="navigation">
    {{ knp_pagination_render(threads) }}
</div>
<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}:
    </span>
    <ul class="list-unstyled">
        <li>{{ knp_pagination_sortable(threads, 'Date'|trans, 'createdAt') }} - </li>
        <li>{{ knp_pagination_sortable(threads, 'Subject'|trans, 'subject') }}</li>
    </ul>
</div>
<div class="clearfix"></div>
{% for thread in threads %}
    <div id="id{{ thread.id }}">
        <div class="message-heading {{ fos_message_is_read(thread)?'message-read':'' }}">
            <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                <span class="label label-default message-creator col-md-2">
                    {{  thread.lastMessage.sender.fullName }}
                </span>
                <span class="message-subject col-md-7 autoellipsis">
                    ({{ get_unread_messages(thread) }}) {{ thread.subject }}
                </span>
                <span class="pull-right">
                    {{ thread.lastMessage.createdAt|localizeddate }}
                </span>
                <span class="clearfix"></span>
            </a>
        </div>
    </div>
{% else %}
    {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(threads) }}
</div>
