{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<h3>{{ thread.subject }}</h3>
<div class="row">
    <div class="span9">
        {% for message in thread.messages %}
            <div class="well {{ thread.createdBy == message.sender ? 'starter-message' : '' }}">
                <div class="message-header">
                    <span class="pull-left message-sender">
                        {{  message.sender }}
                    </span>
                    <span class="pull-right">
                        {{ message.createdAt|localizeddate }} ({{ message.createdAt|time_ago_in_words }})
                    </span>
                    <div class="clearfix"></div>
                    {% if loop.first %}
                    <p>
                        {{ 'To'|trans }}
                        {% for participant in thread.participants if participant != thread.createdBy %}
                            {{ not loop.first?',':'' }} {{ participant.username }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div id="message_{{ message.id }}" class="well well-small">
                    {{ message.body|raw }}
                </div>
            </div>
        {% endfor %}
        <h4>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h4>
        <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post" class="well form-horizontal">
            {{ form_widget(form, {'form_type': 'horizontal'}) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="icon-envelope"></i> {{ 'Send'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span3">
        {% include 'FOSMessageBundle:Message:sidebar_new.html.twig' %}
    </div>
</div>
{% endblock %}
