{% extends 'CelsiusCelsius3Bundle:Order:_show_fields.html.twig' %}

{% block extrafields %}
<dt>{{ 'Current state'|trans }}</dt>
<dd>{{ document.getCurrentState(document.instance).type.name|capitalize }} {{ 'since'|trans }} {{ document.getCurrentState(document.instance).date|localizeddate }} ({{ document.getCurrentState(document.instance).date|time_ago_in_words }})</dd>
{% if document.getCurrentState(app.user.instance).type.name == constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__RECEIVED') %}
    <dt>{{ 'Files'|trans }}</dt>
    <dd>
    {% for file in document.getNotDownloadedFiles() %}
        <form action="{{ path('user_file_download', { 'order': document.id, 'file': file.id }) }}" method="post" class="inline-form">
            <a class="submit-download-form" href="#" title="{{ file.name }}"><i class="icon-download-alt"></i>{{ 'download'|capitalize|trans }}</a>
        </form>
    {% endfor %}
    </dd>
{% endif %}
{% if app.user.username != document.owner.username %}
<dt>{{ 'User'|trans }}</dt>
<dd>{{ document.owner.username }}</dd>
{% endif %}
<script type="text/javascript">
$('.submit-download-form').click(function(){
    var form = $(this).parent();
    form.submit();
    form.remove();
});
</script>
{% endblock %}