{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}

{{ 'Templates Mails ' |trans }}
{% endblock %}

{% block content %}
    <h2>{{ ['admin_mails_update '|capitalize, route]|join|trans }}</h2>

    {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

    <form action="{{ path(['admin_mails_', route]|join, { 'code': app.request.get('code'), 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well">
          {{ form_widget(edit_form) }}
          <p>
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'Edit'|trans }}</button>
        </p>
    </form>

    <ul class="unstyled record_actions">
        <li>
            <a href="{{ path('admin_mails', { 'code': app.request.get('code') }) }}">
                <i class="icon-home"></i> {{ 'Go to the list'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path(['admin_mails_delete']|join, { 'code': app.request.get('code'), 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="icon-remove"></i> {{ 'Delete'|trans }}</button>
            </form>
        </li>
    </ul>
{% endblock %}




