{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Institution Show' | trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import show as show %}

{% block content %}
<div ng-app="institutionApp">
    <h2>{{ 'Institution Edit' | trans }} - {{ entity.name }}</h2>

    <div class="row">
        <div class="col-md-9" ng-controller="institutionCtrl">
            <div ng-view>

            </div>
        </div>
        <div class="col-md-3">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"
                               class="accordion-toggle">
                                <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse in collapse" id="collapseTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('admin_institution') }}">
                                        <span class="glyphicon glyphicon-home"></span> {{ 'Go to the list'|trans }}
                                    </a>
                                </li>
                                {% if entity.instance.id == instance.id %}
                                    <li>
                                        <a href="{{ path(['admin_institution_edit']|join, { 'id': entity.id }) }}">
                                            <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}
                                        </a>
                                    </li>
                                {% else %}
                                    {{ 'centralized institution'|trans }}

                                {% endif %}
                                {% include 'AdminInstitution:_show_actions.html.twig' ignore missing %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- institution_tree.html -->
        <script type="text/ng-template" id="institution_tree.html?{{ assets_version('admin_institution') }}">
            {% verbatim %}
                    <h3>{{ 'Institution tree' | trans }}</h3>
                    <div class="list-group">
                    <a ng-if="institution.parent" ng-click="getInstitution(institution.parent.id)" href class="list-group-item">
                    {{ institution.parent.name }}
                    </a>
                    <a ng-if="institution" class="list-group-item list-institution-parent active">
                    {{ institution.name }}
                    </a>
                    <a ng-repeat="ins in institution.institutions" ng-click="getInstitution(ins.id)" href class="list-group-item">
                    {{ ins.name }}
                    </a>
                    </div>
                {% endverbatim %}
        </script>

        <!-- institution_users.html -->
        <script type="text/ng-template" id="institution_users.html?{{ assets_version('admin_institution') }}">
            {% verbatim %}
                <h3>{{ 'Institution users' | trans }}</h3>
                <div class="list-group">
                <a ng-href="{{ { path: 'admin_user_show', params: {'id': user.id} } | get_url }}" class="list-group-item" ng-repeat="user in institution.users">{{ user.full_name }}</a>
                </div>
        
                {% endverbatim %}
        </script>

        <!-- institution_info.html -->
        <script type="text/ng-template" id="institution_info.html?{{ assets_version('admin_institution') }}">
            {% verbatim %}
                    <dl class="dl-horizontal">
                    <dt>{{ 'Name' | trans }}</dt>
                    <dd>{{ institution.name }}</dd>
                    <dt>{{ 'Abbreviation' | trans }}</dt>
                    <dd>{{ institution.abbreviation }}</dd>
                    <dt>{{ 'Website' | trans }}</dt>
                    <dd><a href="{{ institution.website }}" target="_blank">{{ institution.website }}</a></dd>
                    <dt>{{ 'Parent institution' | trans }}</dt>
                    <dd>{{ institution.parent.name ? institution.parent.name : '----' }}</dd>
                    <dt>{{ 'City' | trans }}</dt>
                    <dd>{{ institution.city.name ? institution.city.name : '----' }}</dd>
                    </dl>
                {% endverbatim %}
        </script>

        <!-- institution.html -->
        <script type="text/ng-template" id="institution.html?{{ assets_version('admin_institution') }}">
            {% verbatim %}
                    <div ng-include="'institution_info.html?' + assets_version">

                    </div>
                    <div class="row">
                    <div class="col-md-6" ng-include="'institution_tree.html?' + assets_version">

                    </div>
                    <div class="col-md-6" ng-include="'institution_users.html?' + assets_version">

                    </div>
                    </div>
                {% endverbatim %}
        </script>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <style type="text/css">
            div.list-group a.active:nth-child(2) ~ a:nth-child(n+2) {
                padding-left: 80px;
            }

            div.list-group a.active:nth-child(1) ~ a:nth-child(n+1) {
                padding-left: 40px;
            }

            div.list-group a.active:nth-child(2) {
                padding-left: 40px;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript" src="{{ asset('build/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/admin_institution.js') }}"></script>
    {% endblock %}
