{% extends 'CelsiusCelsius3Bundle:Layout:directory_layout.html.twig' %}

{% block title %}
{{ 'Instances'|trans }}
{% endblock %}

{% block content %}
<ul class="thumbnails">
    {% for instance in instances %}
    <li class="span4">
        <div class="thumbnail well">
            <h3>{{ instance.name }}</h3>
            <p>
                {{ 'Institutions'|trans }}:
            </p>
            <p>
                <a href="{{ instance.website }}">{{ 'Website'|trans }}</a>
            </p>
            <p>
                <a href="mailto:{{ instance.email }}">{{ 'Contact'|trans }}</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}