<ul class="unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Abbreviation'|trans, 'abbreviation') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'ISSN'|trans, 'ISSN') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'ISSNE'|trans, 'ISSNE') }}</li>
</ul>