{% extends 'Celsius3CoreBundle:Order:_show_fields.html.twig' %}

{% block extrafields %}
<dt>{{ 'Current state'|trans }}</dt>
<dd>{{ element.getCurrentState(element.instance).type.name|capitalize }} {{ 'since'|trans }} {{ element.getCurrentState(element.instance).date|localizeddate }} ({{ element.getCurrentState(element.instance).date|time_ago_in_words }})</dd>
{% if element.getCurrentState(app.user.instance).type.name == constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__RECEIVED') %}
    <dt>{{ 'Files'|trans }}</dt>
    <dd>
    {% for file in element.getNotDownloadedFiles() %}
        <form action="{{ path('user_file_download', { 'order': element.id, 'file': file.id }) }}" method="post" class="inline-form">
            <a class="submit-download-form" href="#" title="{{ file.name }}"><span class="glyphicon glyphicon-download-alt"></span>{{ 'download'|capitalize|trans }}</a>
        </form>
    {% endfor %}
    </dd>
{% endif %}
{% if app.user.username != element.owner.username %}
<dt>{{ 'User'|trans }}</dt>
<dd>{{ element.owner.username }}</dd>
{% endif %}
{% endblock %}
