{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'User Transform'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import transform as transform %}

{% block content %}
    <h2>{{ 'User Transform'|trans }} - {{ entity.name }}</h2>

    {{ transform('superadmin_user', entity, transform_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/celsius3core/js/transform.js') }}"></script>
{% endblock %}
