<tr>
    <td>{{ document.name }}</td>
    <td>{{ document.surname }}</td>
    <td>{% if document.birthdate %}{{ document.birthdate|date('d-m-Y') }}{% endif%}</td>
    <td>{{ document.username }}</td>
    <td>{{ document.email }}</td>
</tr>