{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Password already requested' | trans }}
{% endblock %}

{% block content %}
    <h2>
        {% if resetting_password_already_requested_title is defined and resetting_password_already_requested_title is not empty %}
            {{ resetting_password_already_requested_title }}
        {% else %}
            {{ 'Password already requested' | trans }}
        {% endif %}
    </h2>

    <p>
        {% if resetting_password_already_requested_text is defined and resetting_password_already_requested_text is not empty %}
            {% autoescape false %}
                {{ resetting_password_already_requested_text }}
            {% endautoescape %}
        {% else %}
            {{ 'resetting.password_already_requested' | trans({}, 'FOSUserBundle') }}
        {% endif %}
    </p>
{% endblock %}
