{% verbatim %}
    <script id="city" type="text/html">
        <option value="{{value}}">{{name}}</option>
    </script>

    <script id="institution" type="text/html">
        {{#hasChildren}}
        <option value="{{value}}" class="root_option level{{level}}" >{{name}}</option>
        {{#children}}
        {{> institution}}
        {{/children}}
        {{/hasChildren}}
        {{^ hasChildren}}
        <option value="{{value}}" class="children_option level{{level}}">{{name}}</option>
        {{/hasChildren}}
    </script>
{% endverbatim %}
