{% raw %}
<script id="city" type="text/html">
    <option value="{{value}}">{{name}}</option>
</script>

<script id="institution" type="text/html">
    {{#hasChildren}}
        <optgroup label="{{name}}">
            {{#children}}
                <option value="{{value}}">{{name}}</option>
            {{/children}}    
        </optgroup>
    {{/hasChildren}}
    {{^hasChildren}}
        <option value="{{value}}">{{name}}</option>
    {{/hasChildren}}
</script>
{% endraw %}