<div id="emailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="email-modal-label">{{ 'Email'|trans }}</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
                <button class="btn btn-primary" id="sendEmail">{{ 'Send'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<script id="mail" type="text/html">
    <form class="form-horizontal" id="emailForm">
        <div class="form-group">
            <label for="address">{{ 'Address'|trans }}</label>
            {% raw %}
            <input type="email" class="form-control" id="emailAddress" name="address" value="{{address}}" required />
            {% endraw %}
        </div>
        <div class="form-group">
            <label for="template">{{ 'Template'|trans }}</label>
            {% raw %}
            <select class="form-control select2" id="templateSelect" name="template">
                <option></option>
                {{#templates}}
                <option value="{{id}}">{{title}}</option>
                {{/templates}}
            </select>
            {% endraw %}
        </div>
        <div class="form-group">
            <label for="subject">{{ 'Subject'|trans }}</label>
            <input type="text" class="form-control" name="subject" id="emailSubject" required />
        </div>
        <div class="form-group">
            <label for="text">{{ 'Text'|trans }}</label>
            <textarea class="form-control" name="text" id="emailBody" required >

            </textarea>
        </div>
    </form>
</script>