<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}: 
    </span>
    {% include 'CelsiusCelsius3Bundle:SuperadminCity:_index_sort.html.twig' %}
</div>
<div class="clearfix"></div>
{% for city in pagination %}
<div id="id{{ city.id }}" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ city.id }}" data-parent="#id{{ city.id }}" data-toggle="collapse" class="accordion-toggle">
                <span>{{ city.name }}</span>
            </a>
            {% include 'CelsiusCelsius3Bundle:SuperadminCity:_index_list_actions.html.twig' %}
        </div>
        <div class="accordion-body collapse" id="collapse{{ city.id }}">
            <div class="accordion-inner">
                {% include 'CelsiusCelsius3Bundle:SuperadminCity:_show_fields.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}