{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Catalog List'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import index as index %}

{% block content %}
<h2>{{ 'Catalog List'|trans }}</h2>
<div class="row">
    <a class="submit-catalog-data btn btn-primary" href="#"><span class="glyphicon glyphicon-save"></span> {{ 'Save changes'|trans }}</a>
</div>

<div class="row">
    {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}
</div>
<div class="row">
    {% set count = pagination.count %}
    {% set first = count is odd ? count/2 + 1 : count/2 %}
    {% set second = count - first + 1 %}
    <div class="col-md-6">        
        <div id="main-accordion" class="panel-group main-list connectedSortable firstColumn">
        {% for element in pagination|slice(0, first) %}
            <div class="panel panel-default draggable" data-id="{{ element.id }}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse{{ element.id }}" data-parent="#main-accordion" data-toggle="collapse" class="accordion-toggle">
                            {% include 'Celsius3CoreBundle:AdminCatalog:_index_element_header.html.twig' %}
                        </a>
                        {% include 'Celsius3CoreBundle:AdminCatalog:_index_list_actions.html.twig' ignore missing %}
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapse{{ element.id }}">
                    <div class="panel-body">
                        {% include 'Celsius3CoreBundle:AdminCatalog:_show_fields.html.twig' %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-6">        
        <div id="main-accordion" class="panel-group main-list connectedSortable secondColumn">
        {% for element in pagination|slice(first, second) %}
            <div class="panel panel-default draggable" data-id="{{ element.id }}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapse{{ element.id }}" data-parent="#main-accordion" data-toggle="collapse" class="accordion-toggle">
                            {% include 'Celsius3CoreBundle:AdminCatalog:_index_element_header.html.twig' %}
                        </a>
                        {% include 'Celsius3CoreBundle:AdminCatalog:_index_list_actions.html.twig' ignore missing %}
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapse{{ element.id }}">
                    <div class="panel-body">
                        {% include 'Celsius3CoreBundle:AdminCatalog:_show_fields.html.twig' %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div id="accordion" class="panel-group">
            {% if filter_form %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <span class="glyphicon glyphicon-search"></span> {{ 'Filters'|trans }}
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body">
                        {% from "Celsius3CoreBundle:Macro:crud.html.twig" import filter as filter %}

                        {{ filter('admin_catalog', filter_form) }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse in collapse" id="collapseTwo">
                    <div class="panel-body">
                        {% include 'Celsius3CoreBundle:AdminCatalog:_index_actions.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}