{% trans_default_domain 'Celsius3CoreBundle_Form' %}

{% block registration_content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form">

        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.name, { attr: { class: 'form-control', placeholder: 'label.name' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.surname, { attr: { class: 'form-control' , placeholder: 'label.surname' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    {{ form_widget(form.email, { attr: { class: 'form-control', placeholder: 'label.email' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    {{ form_widget(form.username, { attr: { class: 'form-control', placeholder: 'label.username' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control', placeholder: 'label.password' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control', placeholder: 'label.password.confirm' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    {{ form_widget(form.country,{attr:{class:'form-control country-select',placeholder: 'Pais'}}) }}
                    <span class="glyphicon glyphicon- form-control-feedback"></span>
                </div>
                {{ form_row(form.country) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    {{ form_widget(form.city,{attr:{class:'form-control city-select',placeholder: 'Ciudad'}}) }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group has-feedback">
                    {{ form_widget(form.institution,{attr:{class:'form-control institution-select',placeholder: 'Insitucion'}}) }}

                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.birthdate, { attr: { class: 'form-control date', placeholder: 'label.birthdate' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback">
                    {{ form_widget(form.address, { attr: { class: 'form-control', placeholder: 'label.address' | trans | first_upper } }) }}
                    <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
                </div>
            </div>
        </div>

        {% for child in form.children %}
            {% if not child.rendered and "hidden" not in child.vars.block_prefixes and child.vars.name != 'recaptcha' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            {{ form_widget(child, { attr: { class: 'form-control', placeholder: child.vars.name | first_upper } }) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                {{ form_errors(form.recaptcha) }}
                {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

                {{ form_widget(form.recaptcha, { 'attr': {
            'options' : {
            'theme': 'light',
            'type': 'image',
            'size': 'normal'
            },
            } }) }}
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'form.submit' | trans | first_upper }}</button>
            </div>
        </div>
        <br/>
        {{ form_rest(form) }}
    </form>
{% endblock %}
