<ul class="unstyled">
    <li>{{ pagination.sortable('Default'|trans, 'id')|raw }} - </li>
    <li>{{ pagination.sortable('Name'|trans, 'name')|raw }} - </li>
    <li>{{ pagination.sortable('Surname'|trans, 'surname')|raw }} - </li>
    <li>{{ pagination.sortable('Username'|trans, 'username')|raw }} - </li>
    <li>{{ pagination.sortable('Email'|trans, 'email')|raw }}</li>
</ul>