<div class="well">
    <div class="dash">
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-star"></span><br />
            {{ 'Notifications'|trans }}
        </a>
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-file"></span><br />
            {{ 'Add Order'|trans }}
        </a>
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-envelope"></span><br />
            {{ 'New Mail'|trans }}
        </a>
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-user"></span><br />
            {{ 'Registrations'|trans }}
        </a>
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-font"></span><br />
            {{ 'Add News'|trans }}
        </a>
        <a class="btn btn-default btn-large" href="#" style="width: 120px;">
            <span class="glyphicon glyphicon-wrench"></span><br />
            {{ 'Configuration'|trans }}
        </a>
    </div>
</div>