<div class="span6">
    <div class="well">
        <h2>{{ 'Locations'|trans }}</h2>
        <div class="row">
            <div class="span5">
                <ul class="nav nav-list">
                    <li>
                        <a href="{{ path('admin_country') }}">{{ 'Countries'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_city') }}">{{ 'Cities'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_institution') }}">{{ 'Institutions'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>