<div class="col-md-6">
    <div>
        <h2>{{ 'Other'|trans }}</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('admin_news') }}"><span class="glyphicon glyphicon-font"></span> {{ 'News'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_catalog') }}"><span class="glyphicon glyphicon-eye-open"></span> {{ 'Catalogs'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_journal') }}"><span class="glyphicon glyphicon-book"></span> {{ 'Journals'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('admin_instance_configure') }}"><span class="glyphicon glyphicon-wrench"></span> {{ 'Configuration'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_contact') }}"><span class="glyphicon glyphicon-bookmark"></span> {{ 'Contacts'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>