<div class="col-md-4">
    <h2>{{ 'Pending users'|trans }}</h2>
    {% if users | length > 0 %}
	    <ul class="list-group">
	    {% for user in users %}
	        <li class="list-group-item user-item">
	            <div class="pull-left user-data">
	                <input type="hidden" name="userId" value="{{ user.id }}" />
	                {{ user }}
	            </div>
	            <div class="pull-right">
	                <ul class="list-unstyled list-inline">
	                    <li><a class="user-enable" href="#"><span class="glyphicon glyphicon-ok"></span></a></li>
	                    <li><a href="{{ path('admin_user_modal_show', { 'id': user.id }) }}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open"></span></a></li>
	                    <li><a href="{{ path('admin_user_edit', { 'id': user.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a></li>
	                </ul>
	            </div>
	            <div class="clearfix"></div>
	        </li>
	    {% endfor %}
	    </ul>
	   {% else %}
	   		{{ 'There are no pending users' | trans }}
	   {% endif %}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div><!-- /.modal -->
