<div class="col-md-6">
    <div>
        <h2>{{ 'Users'|trans }}</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{ 'Filters'|trans }}</h3>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_user', { 'state[]': 'pending' }) }}">{{ 'Pending'|trans }} ({{ userCount['pending'] }})</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{ 'Operations'|trans }}</h3>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_user_new') }}"><span class="glyphicon glyphicon-plus"></span> {{ 'Add'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('admin_user') }}"><span class="glyphicon glyphicon-list"></span> {{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>