{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
{{ 'Search results'|trans }}
{% endblock %}

{% block content %}
<h3>{{ 'Search results'|trans }}</h3>
<div class="row">
    <div class="col-md-12">

        <dl class="dl-horizontal">
            <dt>{{ 'Keyword'|trans }}</dt>
            <dd>{{ app.request.get('keyword') }}</dd>
            <dt>{{ 'Results' }}</dt>
            <dd>{{ pagination.paginationData.totalCount }}</dd>
        </dl>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% for element in pagination %}
        {% include 'Celsius3CoreBundle:AdminOrder:_index_element.html.twig' %}
        {% endfor %}
        
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
