{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Send reminder email' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <h3>{{ 'Send Reminder Email' | trans }}</h3>
        <form method="post" action="{{ path('admin_send_reminder_emails_batch') }}">
            <div class="col-xs-9">
                <div class="form-group">
                    <label for="subject">{{'Subject' | trans }}</label>
                    <input class="form-control" type="text" name="subject" id="subject" required >
                </div>
                <div class="form-group">
                    <label for="template">{{ 'template' | trans }}</label>
                    <select ui-select2="select2Templates" class="form-control" name="template" id="template">
                        <option></option>
                        {% for t in templates %}
                            <option id="{{t.id}}" value="{{t.id}}" data-text="{{t.text}}">{{t.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group {% if error %}has-error{% endif %}">
                    <label for="text">{{'Email content' | trans }}</label>
                    <span>[<a href id="addUser" >Add user</a>]</span>
                    <span>[<a href id="addRequests" >Add requests</a>]</span>
                    <br>{% if error %}<p class="text-danger">{{ errorMessage }}</p>{% endif %}
                    <textarea class="form-control" name="text" id="text" required style="height: 140px;" >
                        
                    </textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Send email">
                </div>
                <div class="form-group"> 
                    <label>{{ 'Users with pending requests' | trans }}</label>
                    <ul class="list-group">
                        {% for u in users %}
                            <li class="list-group-item">{{u.surname}}, {{u.name}} ({{u.username}}) <span class="pull-right">[{{u.requestsCount}} {{ 'pending' | trans }}]</span></li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
        <div class="col-md-3">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse in collapse" id="collapseTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('administration') }}">
                                        <span class="glyphicon glyphicon-plus"></span> {{ 'Go to Administration'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#template').on('change', function () {
                $('#subject').val($('option#' + $(this).val()).text());
                $('#text').val($('option#' + $(this).val()).attr('data-text'));
            });

            $('#addUser').click(function () {
                $('#text').val(
                    $('#text').val() + '{{ '{{ user.surname }}'  }} {{ '{{ user.name }}' }}'
                );

                return false;
            });

            $('#addRequests').click(function () {
                $('#text').val(
                    $('#text').val() + '{{ '{% for request in user.requests %}'  }} {{ '{{ request }}' }} {{ '{% endfor %}' }}'
                );

                return false;
            });

        });
    </script>
{% endblock %}