{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Custom Field Edit'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import edit as edit %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"> <h2>{{ 'Custom User Field Edit'|trans }} - {{ entity.name }}</h2></div>
    <div class="panel-body">
    {{ edit('admin_customuserfield', entity, edit_form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}

     {{parent()}}
   <script>
   		

   /*
      Ver el valor 1
   */

   		$('#custom_user_field_value').parent().hide();
   		if ($('#custom_user_field_type').val()=='1'){
   			$('#custom_user_field_value').parent().show();
   		}
   		
   		$('#custom_user_field_type').bind('change',function(){
   			/* 
   			   1 = select
   			*/
   			if ($('#custom_user_field_type').val()=='1'){
   				$('#custom_user_field_value').parent().show();
   			}else{
   				$('#custom_user_field_value').parent().hide();
            $('#custom_user_field_value').val("");
   			}
   		});
     
    </script>
{% endblock %}
