<table class="table table-striped table-bordered table-condensed records_list">
    <thead>
        <tr>
            <th>{{ pagination.sortable('Title'|trans, 'title')|raw }}</th>
            <th>{{ pagination.sortable('Date'|trans, 'date')|raw }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for document in pagination %}
        <tr>
            <td>{{ document.title }}</td>
            <td>{% if document.date %}{{ document.date|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul class="unstyled">
                    <li>
                        <a href="{{ path('news_show', { 'code': app.request.get('code'), 'id': document.id }) }}"><i class="icon-book"></i> {{ 'Show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('news_edit', { 'code': app.request.get('code'), 'id': document.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>