<dl class="dl-horizontal">
    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ element.name }}</dd>
    <dt>{{ 'Abbreviation'|trans }}</dt>
    <dd>{{ element.abbreviation }}</dd>
    <dt>{{ 'Website'|trans }}</dt>
    <dd><a href="{{ element.website }}" target="_blank">{{ element.website }}</a></dd>
    <dt>{{ 'Parent institution'|trans }}</dt>
    <dd>{{ element.parent?element.parent:'-' }}</dd>
    <dt>{{ 'City'|trans }}</dt>
    <dd>{{ element.city?element.city:'-' }}</dd>
</dl>
