<table class="table table-striped table-bordered table-condensed record_properties">
    <tbody>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ document.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Surname'|trans }}</th>
            <td>{{ document.surname }}</td>
        </tr>
        <tr>
            <th>{{ 'Email'|trans }}</th>
            <td>{{ document.email }}</td>
        </tr>
        <tr>
            <th>{{ 'Address'|trans }}</th>
            <td>{{ document.address }}</td>
        </tr>
        <tr>
            <th>{{ 'Type'|trans }}</th>
            <td>{{ document.type }}</td>
        </tr>
        <tr>
            <th>{{ 'User'|trans }}</th>
            <td>{{ document.user }}</td>
        </tr>
    </tbody>
</table>