{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
{{ instance.hive ~ ' Chat'|trans }}
{% endblock %}

{% block content %}
<h2>{{ instance.hive ~ ' Chat'|trans }}</h2>

<section id="channelList" style="opacity: 1;">
    <button id="chat-status"></button>
  <ul>
  </ul>
</section>

<section id="chat" style="opacity: 1;">

  <div id="colA">

    <div class="rooms">

    </div>

  </div>

  <div id="colB">
    <div class="chatWindow active" id="room-529b64d84d9c0" style="display: block;">
        
    </div>
    <form id="textbox">
      <input type="text" maxlength="140" />
    </form>
  </div>

</section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/celsius3chat/css/chat.css') }}"/>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include 'Celsius3ChatBundle:Chat:var.html.twig' %}
<script type="text/javascript" src="{{ asset('bundles/celsius3chat/js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/celsius3chat/js/jquery.timeago.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/celsius3chat/js/chat.js') }}"></script>
{% endblock %}