{% form_theme form 'Celsius3CoreBundle:Form:fields.html.twig' %}


<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.name.vars.valid %} has-error {% endif %}">
            {{ form_label(form.name, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.name.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.postalCode.vars.valid %} has-error {% endif %}">
            {{ form_label(form.postalCode, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.postalCode, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.postalCode.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.country.vars.valid %} has-error {% endif %}">
            {{ form_label(form.country, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control country-select'} }) }}
                {% for error in form.country.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
