<div class="pagination-celsius">
{% include 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig' %}

<p class="pull-left pagination-data">{{ firstItemNumber }} {{ 'to'|trans }} {{ lastItemNumber }} {{ 'of'|trans }} {{ totalCount }}</p>
</div>
