{% if not element.exported %}
    <ul class="list-unstyled pull-right actions">
        <li>
            <a href="{{ path(get_data_request_export_path(element), { 'id': element.id }) }}"><span
                        class="glyphicon glyphicon-export"></span> {{ 'Export' | trans }}</a>
        </li>
        &nbsp;
        <li>
            <a href="{{ path('superadmin_data_request_annul', { 'id': element.id }) }}"><span
                        class="glyphicon glyphicon-remove"></span> {{ 'Annul_inf' | trans }}</a>
        </li>
    </ul>&nbsp;
{% elseif element.downloaded %}
    <span class="pull-right text-success">[{{ 'Downloaded' | trans }}]</span>
{% endif %}