{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ 'Dashboard Technical'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'Dashboard Technical'|trans }}</h2>

<div class="row">
    {% for country, insts in instances %}
        {% for instance in insts %}

            <div class="col-md-4">


            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">  {{instance.name}} ({{ instance.abbreviation }})</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <h5>{{ 'Contact'|trans }}: {{ instance.email }}</h5>
                   <ul>
                       <li>Correo SMTP ?  {{ render(controller('Technical:testConnection', { 'instance': instance.id })) }}


                       </li>
                       <li>Operacion 2</li>
                       <li>Operacion 3</li>
                       <li>Operacion 4</li>
                       <li>Operacion 5</li>

                   </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        {% endfor %}

    {% endfor %}
</div>

{% endblock %}
