{% macro edit(name, entity, form, folder, custom_rendering = false) %}
    <div class="row">
        <div class="col-md-9">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

            {{ form_start(form, {
                'attr': {
                    'action': path(name ~ '_update', { 'id': entity.id }),
                    'class': 'form-horizontal',
                    'role': 'form',
                    'novalidate': 'novalidate'
                }
            }) }}
            {% form_theme form 'Celsius3CoreBundle:Form:fields.html.twig' %}

            {% if custom_rendering %}
                {{ form_errors(form) }}
                {% include folder~'edit_form.html.twig' %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            <button type="submit" class="btn btn-primary submit-button pull-left">
                <span class="glyphicon glyphicon-ok"></span>
                {{ 'Save'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-3">
            {% from "Macro/Crud/item_accordion.html.twig" import item_accordion as item_accordion %}
            {{ item_accordion(name) }}
        </div>
    </div>
{% endmacro %}