{% macro union(name, entities, folder) %}
    <div class="row">
        <div class="col-md-9">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

            <form action="{{ path(name~'_doUnion') }}" method="post" role="form">
                <p>{{ 'Please select the element you want to overwrite the others.'|trans }}</p>
                {% for entity in entities %}
                    <div>
                        <input type="radio" name="main" id="main{{ entity.id }}" value="{{ entity.id }}"/>
                        <input type="hidden" name="element[]" id="element{{ entity.id }}" value="{{ entity.id }}"/>
                        <label for="main{{ entity.id }}">{{ entity.id }} - {{ full_name(entity) }}</label>
                        <p>
                            {{ 'Created at' | trans }}: {{ entity.createdAt | localizeddate }}<br>
                            {% if '/admin/user/' in app.request.getPathInfo() %}
                                {{ 'institution' | trans }}: {{ entity.getInstitution().getFullName() }}
                            {% endif %}
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') and '/admin/user/' not in app.request.getPathInfo() %}
                                {{ 'Instance' | trans }}: {{ entity.instance }}
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
                <p>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{ 'Save'|trans }}
                    </button>
                </p>
            </form>
        </div>
        <div class="col-md-3">
            {% from "Macro/Crud/item_accordion.html.twig" import item_accordion as item_accordion %}
            {{ item_accordion(name, folder) }}
        </div>
    </div>
{% endmacro %}