<div class="fos_user_user_show">
    <dl class="dl-horizontal">
        <dt>{{ 'Name'|trans }}</dt>
        <dd>{{ user.name }}</dd>
        <dt>{{ 'Surname'|trans }}</dt>
        <dd>{{ user.surname }}</dd>
        <dt>{{ 'Birthdate'|trans }}</dt>
        <dd>{% if user.birthdate is not empty %}{{ user.birthdate|localizeddate('medium','none') }}{% endif %}</dd>
        <dt>{{ 'Address'|trans }}</dt>
        <dd>{{ user.address }}</dd>
    </dl>
</div>
