<div class="span6">
    <div class="well">
        <h2 class="pull-left">{{ 'Last messages'|trans }}</h2>
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('fos_message_thread_new' )}}">
                <i class="icon-envelope"></i> {{ 'New'|trans }}
            </a>
            <a class="btn" href="{{ path('fos_message_inbox' )}}">
                <i class="icon-inbox"></i> {{ 'All'|trans }}
            </a>
        </div>
        <div class="clearfix"></div>
        <ul class="nav nav-list">
            {% for thread in lastMessages %}
            <li>
                <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}"><span class="label">{{ thread.createdBy.fullName }}</span> {{ thread.createdAt|localizeddate }} - {{ thread.subject }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>