<div class="col-md-4">
    <div class="row">
        {% include 'Celsius3CoreBundle:User:_messages_span.html.twig' %}
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span>  {{ 'Edit profile'|trans }}</a>
            </li>
            <li class="list-group-item">
                <a href="#"><span class="glyphicon glyphicon-stats"></span>  {{ 'View statistics'|trans }}</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('user_order')~'?state[]=' ~ constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__DELIVERED') ~'&state[]='~ constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__CANCELLED') ~'&state[]=' ~ constant('Celsius3\\CoreBundle\\Manager\\StateManager::STATE__ANNULLED') }}"><span class="glyphicon glyphicon-book"></span>  {{ 'Order history'|trans }}</a>
            </li>
            {% if is_granted(constant('Celsius3\\CoreBundle\\Manager\\UserManager::ROLE_LIBRARIAN')) %}
            <li class="list-group-item">
                <a href="#"><span class="glyphicon glyphicon-list"></span>  {{ 'Institution  users'|trans }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
