{% if not isMultiInstance %}
<div id="receive-modal{{ event.id }}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="receive-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="receive-modal-label">{{ 'receive'|capitalize|trans }}</h3>
    </div>
    <div class="modal-body">
        <form id="receiveForm{{ event.id }}" action="{{ path('admin_order_event', { 'id': order.id, 'event': 'receive', 'request': event.id })|raw }}" method="post" enctype="multipart/form-data">
            {{ form_widget(receive_form) }}
            <a href="#" id="add-file{{ event.id }}">Add file</a>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary doReceive" value="#receiveForm{{ event.id }}">{{ 'Save'|trans }}</button>
    </div>
</div>

<script type="text/javascript">    
    $(document).ready(function () {
        var fileCount = '{{ receive_form.files | length }}';
        $('#add-file{{ event.id }}').click(function() {
            var fileList = $('#receiveForm{{ event.id }} #celsius_celsius3bundle_orderreceivetype_files');

            // grab the prototype template
            var newWidget = fileList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, fileCount);
            fileCount++;

            $(newWidget).appendTo($('#receiveForm{{ event.id }} #celsius_celsius3bundle_orderreceivetype_files'));

            return false;
        });
    });
</script>
{% endif %}

<p>
    {{ 'Date'|trans }}: {{ event.date|localizeddate() }}
</p>
<p>
    {% if not isMultiInstance and not isReceived %}
    <a class="receive-link" href="#receive-modal{{ event.id }}" role="button" data-toggle="modal">{{ 'receive'|capitalize|trans }}</a>
    {% endif %}
</p>