<dl class="dl-horizontal">
    <dt>{{ 'Provider'|trans }}</dt>
    <dd>{{ event.requestEvent.provider.getProviderName() }}</dd>
    {% if isMultiInstance %}
    <dt>{{ 'Remote Instance'|trans }}</dt>
    <dd><a href="{{ path('public_index', { 'url': event.requestEvent.remoteInstance.url }) }}">{{ event.requestEvent.remoteInstance }}</a></dd>
    {% endif %}
    <dt>{{ 'Receive Date'|trans }}</dt>
    <dd>{{ event.date|localizeddate() }} ({{ event.date|time_ago_in_words }}) </dd>
    <dt>{{ 'Files'|trans }}</dt>
    <dd>
        {% for file in order.getFilesForEvent(event) %}
            <a href="{{ path('file_download', { 'id': file.id }) }}">{{ 'Download'|trans }}</a>
        {% endfor %}
    </dd>
    {% if not isDelivered %}
        {% if not isApproveEvent %}
        <dt>{{ 'Approve Actions'|trans }}</dt>
        <dd>
            {% if not isReclaimed and not isApproved %}
            <form action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__RECLAIM'), 'receive': event.id }) }}" method="post" class="inline-form">
                <a class="submit-reclaim-form" href="#">{{ 'reclaim'|capitalize|trans }}</a>
            </form>
            {% endif %}
            {% if not isApproved %}
            <form action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__APPROVE'), 'receive': event.id }) }}" method="post" class="inline-form">
                <a class="submit-approve-form" href="#">{{ 'approve'|capitalize|trans }}</a>
            </form>
            {% endif %}
        </dd>
        {% else %}
        <dt>{{ 'Receive Actions'|trans }}</dt>
        <dd>
            {% if isApproved %}
            <form action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__DELIVER'), 'receive': event.id }) }}" method="post" class="inline-form">
                <a class="submit-deliver-form" href="#">{{ 'deliver'|capitalize|trans }}</a>
            </form>
            {% endif %}
        </dd>
        {% endif %}
    {% endif %}
</dl>