<div id="receive-modal{{ event.id }}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="receive-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="receive-modal-label">{{ 'receive'|capitalize|trans }}</h3>
    </div>
    <div class="modal-body">
        <form id="receiveForm{{ event.id }}" action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__RECEIVE'), 'request': event.id })|raw }}" method="post" {{ form_enctype(receive_form) }} class="form-horizontal">
            {{ form_widget(receive_form, {'form_type': 'horizontal'}) }}
            <div class="control-group">
                <div class="controls">
                    <a href="#" id="add-file{{ event.id }}">{{ 'Add file'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
        <button class="btn btn-primary doReceive" value="#receiveForm{{ event.id }}">{{ 'Save'|trans }}</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    	var collectionHolder = $('#{{ receive_form.vars.name }}_files');
        collectionHolder.data('index', collectionHolder.find(':input').length);
        $('#add-file{{ event.id }}').click(function() {
        	var index = collectionHolder.data('index');
            var newWidget = collectionHolder.data('prototype');
            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, index);
            collectionHolder.data('index', index + 1);
            collectionHolder.append(newWidget);

            return false;
        });
    });
</script>

<dl class="dl-horizontal">
    <dt>{{ 'Provider'|trans }}</dt>
    <dd>{{ event.provider.getProviderName() }}</dd>
    <dt>{{ 'Observations'|trans }}</dt>
    <dd>{{ event.observations ? event.observations : '-' }}</dd>
    {% if isMultiInstance %}
    <dt>{{ 'Remote Instance'|trans }}</dt>
    <dd><a href="{{ path('public_index', { 'url': event.remoteInstance.url }) }}">{{ event.remoteInstance }}</a></dd>
    {% endif %}
    <dt>{{ 'Request Date'|trans }}</dt>
    <dd>{{ event.date|localizeddate() }} ({{ event.date|time_ago_in_words }}) </dd>
    {% if not isReceived and not isDelivered %}
    <dt>{{ 'Request Actions'|trans }}</dt>
    <dd><a class="receive-link" href="#receive-modal{{ event.id }}" role="button" data-toggle="modal">{{ 'receive'|capitalize|trans }}</a></dd>
    {% endif %}
</dl>