<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}: 
    </span>
    {% include 'CelsiusCelsius3Bundle:AdminOrder:_index_sort.html.twig' %}
</div>
<div class="clearfix"></div>
{% for order in pagination %}
<div id="code{{ order.code }}" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ order.code }}" data-parent="#code{{ order.code }}" data-toggle="collapse" class="accordion-toggle">
                <span>{{ order.code }} - {{ order.materialData.title }}</span>
                <span class="label pull-right">{{ order.owner.surname }}, {{ order.owner.name }}</span>
            </a>
        </div>
        <div class="accordion-body collapse" id="collapse{{ order.code }}">
            <div class="accordion-inner">
                <div class="row">
                    <div class="span6">
                        <dl class="dl-horizontal">
                            <dt>{{ 'Code'|trans }}</dt>
                            <dd>{{ order.code }}</dd>
                            <dt>{{ 'Request date'|trans }}</dt>
                            <dd>{{ order.requested|localizeddate() }}</dd>
                            <dt>{{ 'User'|trans }}</dt>
                            <dd>{{ order.owner.username }}</dd>
                        </dl>
                        <div class="thumbnail">
                            <dl class="dl-horizontal">
                                <dt>{{ 'Title'|trans }}</dt>
                                <dd>{{ order.materialData.title }}</dd>
                                <dt>{{ 'Year'|trans }}</dt>
                                <dd>{{ order.materialData.year }}</dd>
                                <dt>{{ 'Start page'|trans }}</dt>
                                <dd>{{ order.materialData.startPage }}</dd>
                                <dt>{{ 'End page'|trans }}</dt>
                                <dd>{{ order.materialData.endPage }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="span2 pull-right">
                        <ul class="unstyled pull-right">
                            <li>
                                <a href="{{ path('admin_order_edit', { 'id': order.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}