{% if hasState %}
<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
        <p>{{ 'Date'|trans }}: {{ order.hasState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance)?order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance).date|localizeddate():'' }}</p>
    </div>
</div>
{% else %}
<div id="{{ 'info_'~state~'_disabled' }}" class="collapse">
    <div class="well">
        <script type="text/javascript">    
            $(document).ready(function () {
                $('#submit-search-form').live('click', function(){
                    $('#search-form').submit();
                });
            });
        </script>
        <form id="search-form" action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__SEARCH') }) }}" method="post">
            <p><a id="submit-search-form" href="#">{{ 'search'|capitalize|trans }}</a></p>
        </form>
    </div>
</div>
{% endif %}