{% if hasState %}
<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
        <dl class="dl-horizontal">
            <dt>{{ 'Search Date'|trans }}</dt>
            <dd>
                {{ order.hasState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance)?order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance).date|localizeddate():'' }}
                ({{ order.hasState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance)?order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance).date|time_ago_in_words:'' }})
            </dd>
        </dl>
    </div>
</div>
{% elseif not isAnnulled %}
<div id="{{ 'info_'~state~'_disabled' }}" class="collapse">
    <div class="well">
        <script type="text/javascript">
            $(document).ready(function () {
                $(document).on('click', '#submit-search-form', function(){
                    $('#search-form').submit();
                });
            });
        </script>
        <dl class="dl-horizontal">
            <dt>{{ 'Actions'|trans }}</dt>
            <dd>
                <form id="search-form" action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__SEARCH') }) }}" method="post" class="inline-form">
                    <a id="submit-search-form" href="#">{{ 'search'|capitalize|trans }}</a>
                </form>
            </dd>
        </dl>
    </div>
</div>
{% endif %}