{% if hasState %}
<div id="{{ 'info_'~state }}" class="collapse {{ isCurrent?'in':'' }}">
    <div class="well">
        <dl class="dl-horizontal">
            <dt>{{ 'Search Date'|trans }}</dt>
            <dd>
                {{ order.hasState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance)?order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance).date|localizeddate():'' }}
                ({{ order.hasState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance)?order.getState(constant('Celsius\\Celsius3Bundle\\Manager\\StateManager::STATE__SEARCHED'), instance).date|time_ago_in_words:'' }})
            </dd>
            <dt>{{ 'Actions'|trans }}</dt>
            <dd>
                <a class="search-link" href="#search-modal" role="button" data-toggle="modal">{{ 'Search in catalogs'|capitalize|trans }}</a>
            </dd>
        </dl>
    </div>
</div>
{% elseif not isAnnulled %}
<div id="{{ 'info_'~state~'_disabled' }}" class="collapse">
    <div class="well">
        <script type="text/javascript">
            $(document).ready(function () {
                $(document).on('click', '#submit-search-form', function(){
                    $('#search-form').submit();
                });
            });
        </script>
        <dl class="dl-horizontal">
            <dt>{{ 'Actions'|trans }}</dt>
            <dd>
                <form id="search-form" action="{{ path('admin_order_event', { 'id': order.id, 'event': constant('Celsius\\Celsius3Bundle\\Manager\\EventManager::EVENT__SEARCH') }) }}" method="post" class="inline-form">
                    <a id="submit-search-form" href="#">{{ 'search'|capitalize|trans }}</a>
                </form>
            </dd>
        </dl>
    </div>
</div>
{% endif %}

<div id="search-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="search-modal-label">{{ 'Search in catalogs'|trans }}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'Catalog'|trans }}</th>
                    <th>{{ 'Result'|trans }}</th>
                    <th>{{ 'State'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for catalog in get_catalogs(instance) %}
                <tr>
                    <td>
                        <p>{{ catalog.name }}</p>
                        <p><a href="{{ catalog.url }}" target="_blank">{{ catalog.url }}</a></p>
                    </td>
                    <td class="result">

                    </td>
                    <td>
                        <input type="radio" class="mark-catalog" title="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__NON_SEARCHED') }}" name="catalog{{ catalog.id }}" value="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__NON_SEARCHED') }}" />
                        <input type="radio" class="mark-catalog" title="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__FOUND') }}" name="catalog{{ catalog.id }}" value="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__FOUND') }}" />
                        <input type="radio" class="mark-catalog" title="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__PARTIALLY_FOUND') }}" name="catalog{{ catalog.id }}" value="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__PARTIALLY_FOUND') }}" />
                        <input type="radio" class="mark-catalog" title="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__NOT_FOUND') }}" name="catalog{{ catalog.id }}" value="{{ constant('Celsius\\Celsius3Bundle\\Manager\\CatalogManager::CATALOG__NOT_FOUND') }}" />
                    </td>
                    <td>
                        <a href="#" class="btn">{{ 'Request' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
        function getCatalogId(inputName) {
            return inputName.substr(7);
        }

        function registerSearch() {
            var input = $(this);
            var catalogId = getCatalogId(input.attr('name'));
            $.ajax({
                url: '{{ path('admin_catalog_search_mark') }}',
                dataType: 'json',
                data: 'order_id={{ order.id }}&instance_id={{ instance.id }}&catalog_id='+catalogId+'&result='+input.val()
            }).done(function(data){
                input.parent().siblings('.result').text(data.date);
            });
        }

        $(document).ready(function(){
            $('.mark-catalog').click(registerSearch);
        });
        </script>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
    </div>
</div>