{% raw %}
<script id="delivered" type="text/html">
    <p>{{datetext}}: {{date}}</p>
</script>

<script id="notdelivered" type="text/html">
    <form id="deliver-form" action="{{path}}" method="post">
        <p><a id="submit-deliver-form" href="#">{{delivertext}}</a></p>
    </form>
</script>
{% endraw %}
<script type="text/javascript">
$(document).ready(function () {
    var delivered_data, not_delivered_data;
    
    $('#submit-deliver-form').live('click', function(){
        $('#deliver-form').submit();
    });

    delivered_data = {
        datetext: '{{ 'Date'|trans }}',
        date: '{{ order.hasState('delivered')?order.getState('delivered').date|localizeddate():'' }}'
    };
    
    $('#{{ 'delivered' ~ order.id }}:not(.disabled)').popover({
        content: ich.delivered(delivered_data)
    });
    
    not_delivered_data = {
        path: '{{ path('admin_order_event', { 'id': order.id, 'event': 'deliver' }) }}',
        delivertext: '{{ 'Deliver'|capitalize|trans }}'
    };
    
    $('#{{ 'delivered' ~ order.id }}.disabled').popover({
        content: ich.notdelivered(not_delivered_data)
    });
});
</script>