{% raw %}
<script id="received" type="text/html">
    {{#dates}}
    <p>{{datetext}}: {{.}} <a href="#">{{downloadtext}}</a> <a href="#">{{delivertext}}</a></p>
    {{/dates}}
</script>
{% endraw %}
<script type="text/javascript">
$(document).ready(function () {
    var received_data;
    
    $('#submit-receive-form').live('click', function(){
        $('#receive-form').submit();
    });
    
    dates = [
        {% if order.hasState('received') %}
            {% for event in order.getState('received').events %}
                '{{ event.date|localizeddate() }}',
            {% endfor %}
        {% endif %}
    ]

    received_data = {
        datetext: '{{ 'Date'|trans }}',
        dates: dates,
        downloadtext: '{{ 'download'|capitalize|trans }}',
        delivertext: '{{ 'deliver'|capitalize|trans }}'
    };
    
    $('#{{ 'received' ~ order.id }}:not(.disabled)').popover({
        content: ich.received(received_data)
    });
});
</script>