{% include 'CelsiusCelsius3Bundle:Layout:cci.js.twig' with { 'form': extra['request_form'] } %}

{% raw %}
<script id="requested" type="text/html">
    {{#events}}
    <div id="receive-modal{{id}}" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="receive-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="receive-modal-label">{{receivetext}}</h3>
        </div>
        <div class="modal-body">
            <form id="receiveForm{{id}}" action="{{route}}" method="post" enctype="multipart/form-data">
                {{{form}}}
                <a href="#" id="add-file">Add file</a>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary doReceive" value="#receiveForm{{id}}">{{savetext}}</button>
        </div>
    </div>
    <p>{{datetext}}: {{date}} <a class="receive-link" href="#receive-modal{{id}}" role="button" data-toggle="modal">{{receivetext}}</a></p>
    {{/events}}
    <p><a class="request-link" href="#request-modal" role="button" data-toggle="modal">{{requesttext}}</a></p>
</script>

<script id="notrequested" type="text/html">
    <p><a class="request-link" href="#request-modal" role="button" data-toggle="modal">{{requesttext}}</a></p>
</script>
{% endraw %}

<div id="request-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="request-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="request-modal-label">{{ 'Request'|trans }}</h3>
    </div>
    <div class="modal-body">
        <form id="requestForm" action="{{ path('admin_order_event', { 'id': order.id, 'event': 'request' })|raw }}" method="post">
            {{ form_widget(extra['request_form'])|raw }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="doRequest">{{ 'Save'|trans }}</button>
    </div>
</div>

<script type="text/javascript">    
    $(document).ready(function () {
        var requested_data, not_requested_data, dates, receive_form;
    
        $('.request-link').live('click', function(){
            $('#{{ 'requested' ~ order.id }}.disabled').popover('hide');
            $('#{{ 'requested' ~ order.id }}:not(.disabled)').popover('hide');
        });
        
        $('.receive-link').live('click', function(){
            //$('#{{ 'requested' ~ order.id }}:not(.disabled)').popover('hide');
        });
    
        $('#doRequest').click(function(){
            $("#requestForm").submit();
        });
        
        $('.doReceive').live('click', function(){
            $($(this).attr('value')).submit();
        });
    
        receive_form = '{{ form_widget(extra['receive_form'])|raw }}';
        events = [
            {% if order.hasState('requested') %}
                {% for event in order.getState('requested').events %}
                    {
                        id: '{{ event.id }}',
                        date: '{{ event.date|localizeddate() }}',
                        route: '{{ path('admin_order_event', { 'id': order.id, 'event': 'receive', 'request': event.id })|raw }}',
                        form: receive_form
                    },
                {% endfor %}
            {% endif %}
        ]
    
        requested_data = {
            datetext: '{{ 'Date'|trans }}',
            events: events,
            requesttext: '{{ 'request'|capitalize|trans }}',
            receivetext: '{{ 'receive'|capitalize|trans }}',
            savetext: '{{ 'Save'|trans }}'
        };
    
        $('#{{ 'requested' ~ order.id }}:not(.disabled)').popover({
            content: ich.requested(requested_data)
        });
    
        not_requested_data = {
            requesttext: '{{ 'request'|capitalize|trans }}'
        };
    
        $('#{{ 'requested' ~ order.id }}.disabled').popover({
            content: ich.notrequested(not_requested_data)
        });
        
        var fileCount = '{{ extra['receive_form'].files | length }}';
        $('#add-file').live('click', function() {
            var fileList = $('#celsius_celsius3bundle_orderreceivetype_files');

            // grab the prototype template
            var newWidget = fileList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__label__/g, '');
            newWidget = newWidget.replace(/__name__/g, fileCount);
            fileCount++;

            $(newWidget).appendTo($('#celsius_celsius3bundle_orderreceivetype_files'));

            return false;
        });
    });
</script>