{% raw %}
<script id="searched" type="text/html">
    <p>{{datetext}}: {{date}}</p>
</script>

<script id="notsearched" type="text/html">
    <form id="search-form" action="{{path}}" method="post">
        <p><a id="submit-search-form" href="#">{{searchtext}}</a></p>
    </form>
</script>
{% endraw %}
<script type="text/javascript">    
$(document).ready(function () {
    var searched_data, not_searched_data;
    
    $('#submit-search-form').live('click', function(){
        $('#search-form').submit();
    });

    searched_data = {
        datetext: '{{ 'Date'|trans }}',
        date: '{{ order.hasState('searched')?order.getState('searched').date|localizeddate():'' }}'
    };
    
    $('#{{ 'searched' ~ order.id }}:not(.disabled)').popover({
        content: ich.searched(searched_data)
    });
    
    not_searched_data = {
        path: '{{ path('admin_order_event', { 'id': order.id, 'event': 'search' }) }}',
        searchtext: '{{ 'search'|capitalize|trans }}'
    };
    
    $('#{{ 'searched' ~ order.id }}.disabled').popover({
        content: ich.notsearched(not_searched_data)
    });
});
</script>