{% raw %}
<script id="created" type="text/html">
    <p>{{datetext}}: {{date}}</p>
</script>
{% endraw %}
<script type="text/javascript">
$(document).ready(function(){
    var created_data;

    created_data = {
        datetext: '{{ 'Date'|trans }}',
        date: '{{ order.hasState('created')?order.getState('created').date|localizeddate():'' }}'
    };
    
    $('#{{ 'created' ~ order.id }}:not(.disabled)').popover({
        content: ich.created(created_data)
    });
});
</script>