{% include 'CelsiusCelsius3Bundle:Layout:cci.js.twig' with { 'form': extra['request_form'] } %}

{% raw %}
<script id="requested" type="text/html">
    <p>{{datetext}}: {{date}}</p>
    <p><a id="request-link" href="#request-modal" role="button" data-toggle="modal">{{requesttext}}</a></p>
</script>

<script id="notrequested" type="text/html">
    <p><a id="request-link" href="#request-modal" role="button" data-toggle="modal">{{requesttext}}</a></p>
</script>
{% endraw %}

<div id="request-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="request-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="request-modal-label">{{ 'Request'|trans }}</h3>
    </div>
    <div class="modal-body">
        <form id="requestForm" action="{{ path('admin_order_event', { 'id': order.id, 'event': 'request' })|raw }}" method="post">
            {{ form_widget(extra['request_form'])|raw }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="doRequest">{{ 'Save'|trans }}</button>
    </div>
</div>
<script type="text/javascript">    
$(document).ready(function () {
    var requested_data, not_requested_data;
    
    $('#request-link').live('click', function(){
        $('#{{ 'requested' ~ order.id }}.disabled').popover('hide');
        $('#{{ 'requested' ~ order.id }}:not(.disabled)').popover('hide');
    });
    
    $('#doRequest').click(function(){
        $("#requestForm").submit();
    });
    
    requested_data = {
        datetext: '{{ 'Date'|trans }}',
        date: '{{ order.hasState('requested')?order.getState('requested').date|localizeddate():'' }}',
        requesttext: '{{ 'request'|capitalize|trans }}'
    };
    
    $('#{{ 'requested' ~ order.id }}:not(.disabled)').popover({
        content: ich.requested(requested_data)
    });
    
    not_requested_data = {
        requesttext: '{{ 'request'|capitalize|trans }}'
    };
    
    $('#{{ 'requested' ~ order.id }}.disabled').popover({
        content: ich.notrequested(not_requested_data)
    });
});
</script>