{% include 'CelsiusCelsius3Bundle:AdminOrder:_state.html.twig' %}
<div class="row">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>{{ 'Code'|trans }}</dt>
            <dd>{{ order.code }}</dd>
            <dt>{{ 'Request date'|trans }}</dt>
            <dd>{{ order.requested|localizeddate() }}</dd>
            <dt>{{ 'User'|trans }}</dt>
            <dd>{{ order.owner.username }}</dd>
        </dl>
        <div class="thumbnail">
            <dl class="dl-horizontal">
                <dt>{{ 'Title'|trans }}</dt>
                <dd>{{ order.materialData.title }}</dd>
                <dt>{{ 'Year'|trans }}</dt>
                <dd>{{ order.materialData.year }}</dd>
                <dt>{{ 'Start page'|trans }}</dt>
                <dd>{{ order.materialData.startPage }}</dd>
                <dt>{{ 'End page'|trans }}</dt>
                <dd>{{ order.materialData.endPage }}</dd>
            </dl>
        </div>
    </div>
    <div class="span2 pull-right">
        <ul class="unstyled pull-right">
            <li>
                <a href="{{ path('admin_order_edit', { 'id': order.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
            </li>
        </ul>
    </div>
</div>