<ul class="state-list well">
    {% for key, state in get_positive_states() %}
    <li>{{ render_state(key, document)|raw }}</li>
    {% endfor %}
</ul>
<dl class="dl-horizontal">
    <dt>{{ 'Code'|trans }}</dt>
    <dd>{{ document.code }}</dd>
    <dt>{{ 'Current state'|trans }}</dt>
    <dd>{{ document.currentState.type.name|capitalize }}</dd>
    <dt>{{ 'User'|trans }}</dt>
    <dd>{{ document.owner.username }}</dd>
</dl>
<div class="thumbnail">
    {{ render_material(document.materialData)|raw }}
</div>