<a class="{{ order.hasState(state)?'':'disabled' }} {{ hasPrevious?'pointer':'' }}" id="{{ state ~ order.id }}" data-placement="top"
   data-title="State: {{ state|capitalize }}">
    {{ state|capitalize|trans }}
</a>
{% if hasPrevious %}
{% include script %}
{% endif %}