<div class="row">
    <div class="span9">
        <ul class="breadcrumb">
            <li><a class="btn" href="#">{{ 'Created'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Searched'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Requested'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Received'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Delivered'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Canceled'|trans }}</a></li>
            <li><a class="btn" href="#">{{ 'Annuled'|trans }}</a></li>
        </ul>
    </div>
</div>