<a class="{{ order.hasState(state, instance)?'':'disabled' }} {{ hasPrevious?'pointer':'' }}" data-toggle="{{ hasPrevious?'collapse':'' }}" data-parent="#state-info" href="#{{ 'info_'~state~(order.hasState(state, instance)?'':'_disabled') }}">
    {{ state|replace({ '_': ' ' })|capitalize|trans }}
</a>