{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Notification Subscriptions'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'Notification Subscriptions'|trans }}</h2>
    
    <div class="row">
        <div class="col-md-9">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}
            
            <form action="{{ path('user_notification_subscriptions') }}" method="post" class="form" role="form">
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary submit-button"><span class="glyphicon glyphicon-ok"></span> {{ 'Save'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
