{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Notification Subscriptions' | trans }}
{% endblock %}

{% block content %}

    <h2>{{ 'Notification Subscriptions' | trans }}</h2>
    <hr class="separator_hr">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

            <form action="{{ path('user_notification_subscriptions') }}" method="post" class="form" role="form">
                {{ form_row(form._token) }}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">{{ 'notification' | trans }}</th>
                        <th class="text-center">{{ 'email' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in form %}
                        <tr>
                        {% if (field.vars.name != '_token') %}
                            <th>
                                {{ form_label(field) }}
                            </th>
                        {% endif %}
                        {% for option in field.getIterator() %}
                            {% if (option.count() > 0) %}
                                <tr>
                                    <th class="text-left-padding">
                                        {{ form_label(option) }}
                                    </th>

                                    {% for opt in option.getIterator() %}
                                        <th class="text-center">
                                            {{ form_widget(opt) }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <th class="text-center">
                                    {{ form_widget(option) }}
                                </th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary submit-button">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ 'Save' | trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
