{% extends 'Celsius3CoreBundle:Public:public.html.twig' %}

{% block title %}
    {{ 'Home'|trans }}
{% endblock %}

{% block javascripts %}

     {{parent()}}
   <script>
   $('#id_acerca_de').show();
   $('#id_manual').hide();
     
    function cambiarContenido(id_show,id_hide){
        $('#'+id_show).show();
        $('#'+id_hide).hide();


       
    }
    </script>
{% endblock %}

{% block content %}
 

 <h1> {{ 'Help'|trans }} </h1>   
 <div class="col-md-3">
 	   <div id="accordion" class="panel-group">
    	<div class="panel panel-default">
        	<div class="panel-heading">
                <h4 class="panel-title">
                <a href="javascript:cambiarContenido('id_acerca_de','id_manual')">
                {{ 'Acerca de'|trans }}
                </a>
                </h4>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                <a href="javascript:cambiarContenido('id_manual','id_acerca_de')">
                	{{ 'Manual de administración'|trans }}
                 </a>
                </h4>
            </div>
        </div>
    </div>
 </div>
 <div class="col-md-9" >
 	<div id='id_acerca_de'>
    

    <h2>CELSIUS 3</h2>
    <p>
        Celsius es el software utilizado por los miembros de ISTEC que participan de la iniciativa LibLink para gestionar los pedidos de material bibliográfico de sus usuarios, atender solicitudes de provisión desde otras instituciones participantes, facilitar el intercambio de los documentos y generar estadísticas que permiten transparentar el intercambio y evaluar la calidad del trabajo de los participantes. Este software es desarrollado por la UNLP, y su primera versión data del año 2001. Celsius es ofrecido a todas las instituciones participantes de manera gratuita, a quienes también se les brinda documentación actualizada y asistencia personalizada para realizar la instalación y mantenimiento, instalar actualizaciones y formar al equipo de personas que utilizarán esta herramienta en cada institución.
    </p>
    <p>
    El proyecto Celsius3 tiene como característica principal la gestión centralizada de todas las instancias de Celsius de los miembros de LibLink. Esto implica, por un lado, la creación de instancias a medidas que se incorporan nuevos miembros, y por el otro la centralización todas las instalaciones existentes de Celsius 1.x y 2.x, lo que implica a su vez las migraciones y normalizaciones de sus respectivas bases de datos. Cabe aclarar que, si bien se busca contar con una instalación única y centralizada de esta plataforma, las instituciones seguirán contando con su propia instancia de Celsius: usuarios, pedidos, administradores, comunicaciones y estadísticas de cada instancia serán datos que gestionará cada institución de manera independiente del resto. Además la plataforma está pensada para que puedan mantener sus dominios actuales de acceso a Celsius.
        </p>

    <h2>Directora PrEBi-SEDICI, Directora Iniciativa LibLink (ISTEC)</h2>
    <ul>
        <li>
            <a target='_blank' href="http://prebi.unlp.edu.ar/wp-content/uploads/2007/12/Marisa-De-Giusti-CV-270611.pdf" title="Marisa R. De Giusti">Marisa R. De Giusti</a>
        </li>
    </ul>
    
    <h2>Diseño gráfico</h2>
    <ul>
        <li>Lucas Folegotto</li>
    </ul>

    <h2>Referencia</h2>
    <ul>
        <li>Carlos Nusch</li>
        <li>Esteban Fernandez</li>
        <li>Bruno Percivale</li>
        <li>Urbina, Emmanuel</li>
        
    </ul>
    
    <h2>Desarrollo y mantenimiento de software</h2>
    <ul>
        <li>Gianotti, Jorge Oscar</li>
        <li>Lic. Sobrado Ariel</li>
        <li>Dr. Villarreal Gonzalo</li>
    </ul>

    </div>
 	<div id="id_manual"> Manual de administración</div>
 </div>

{% endblock %}
