{% extends 'Celsius3CoreBundle:Public:public.html.twig' %}

{% block title %}
    {{ 'Home'|trans }}
{% endblock %}

{% block content %}
    <br/>
    <div ng-app="statisticsApp" ng-controller="StatisticsCtrl">
        <div ng-view>

        </div>
        {% verbatim %}
            <script type="text/ng-template" id="index.html">
            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-body"><h2>{{ title | trans }} - {{ subtitle | trans }}</h2>
                    </div>
                </div>

                <div class="col-md-3" ng-include="'menu.html'"></div>
                <div class="col-md-9" >
                    <div class="row">
                        <p>{{ description | trans }}</p>
                    </div>
                    <div class="row" ng-if="searchProvision">
                        <ul class="nav nav-tabs">
                            <li class="{{searchClass}}"><a href ng-click="setTypeSearch()">{{'search'|trans}}</a></li>
                            <li class="{{provisionClass}}"><a href ng-click="setTypeProvision()">{{'provision'|trans}}</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <form>
                            <p>
                                <label for="initialYear">{{'initialYear'|trans}}:</label>
                                <select id="initialYear" ng-model="rangeYears.initialYear" ng-options="year for year in years" ng-change="initialYearChange()"></select>
                                <label for="finalYear">{{'finalYear'|trans}}:</label>
                                <select id="finalYear" name="finalYear" ng-model="rangeYears.finalYear" ng-options="year for year in years" ng-change="finalYearChange()"></select>
                            </p>
                            <p ng-if="locationFields">
                                <label for="country">{{'country'|trans}}:</label>
                                <select ng-model="location.country" id="country" ng-change="countryChanged()">
                                    <option></option>
                                    <option ng-repeat="c in allCountries" value="{{c.value}}">{{c.name}}</option>
                                </select>

                                <label for="institution">{{'institution'|trans}}:</label>
                                <select ng-model="location.institution" id="institution">
                                    <option></option>
                                    <option ng-repeat="i in institutions" value="{{i.value}}">{{i.name}}</option>
                                </select>
                            </p>
                            <p ng-show="selectDelayType">
                                <input type="radio" ng-model="delayType" value="totalDelay">{{'totalDelay'|trans}}
                                <input type="radio" ng-model="delayType" value="locationDelay">{{'locationDelay'|trans}}
                                <input type="radio" ng-model="delayType" value="responseDelay">{{'responseDelay'|trans}}
                            </p>
                            <button id="updateChart" ng-click="updateChart()">{{'update'|trans}}</button>
                        </form>
                    </div>
                    <div id="chart" class="row"></div>
                    <div id="table" class="row" ng-include="'table.html'"></div>
                </div>
            </div>
            </script>
            <script type="text/ng-template" id="menu.html">
                <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                <a href data-target="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                {{ 'ordersAmounts'| trans }}
                </a>
                </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body">
                <ul class="list-unstyled">
                <li role="presentation">
                <a href ng-click="getRequestsCountData()">
                {{'requestsCount'|trans}}
                </a>
                </li>
                <li role="presentation">
                <a href ng-click="getRequestsDestinyDistributionData()">
                {{'requestsDestinyDistribution'|trans}}
                </a>
                </li>
                </ul>
                </div>
                </div>
                <div class="panel-heading">
                <h4 class="panel-title">
                <a href data-target="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                {{ 'requestsDelay'|trans }}
                </a>
                </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                <div class="panel-body">
                <ul class="list-unstyled">
                <li role="presentation">
                <a href ng-click="getRequestsTotalDelayData()">
                {{'serviceEfficiency'|trans}}
                </a>
                </li>
                </ul>
                </div>
                </div>
                <div class="panel-heading">
                <h4 class="panel-title">
                <a href data-target="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                {{ 'usersStatistics'|trans }}
                </a>
                </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                <div class="panel-body">
                <ul class="list-unstyled">
                <li role="presentation">
                <a href ng-click="getUsersCountData()">
                {{'usersCount'|trans}}
                </a>
                </li>
                <li role="presentation">
                <a href ng-click="getRequestsOriginData()">
                {{'requestsOrigin'|trans}}
                </a>
                </li>
                </ul>
                </div>
                </div>
                <div class="panel-heading">
                <h4 class="panel-title">
                <a href data-target="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                {{ 'bibliograficMaterial'|trans }}
                </a>
                </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFour">
                <div class="panel-body">
                <ul class="list-unstyled">
                <li role="presentation">
                <a href ng-click="getRequestsNumberByPublicationYearData()">
                {{'requestsPublicationYear'|trans}}
                </a>
                </li>
                </ul>
                </div>
                </div>
                </div>
                </div>
            </script>
            <script type="text/ng-template" id="table.html">
                <div class="row table-responsive">
                <table class="table table-striped">
                <thead>
                <tr>
                <td><b>{{ firstColumnTitle | trans }}</b></td>
                <td ng-repeat="v in data.columns"><b>{{ v[0] | trans }}</b></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in data.categories">
                <td>{{ value }}</td>
                <td ng-repeat="v in data.columns">{{ v[key + 1] }}</td>
                </tr>
                </tbody>
                <tfoot ng-if="showTotal">
                <tr>
                <td>{{ 'total' | trans }}</td>
                <td ng-repeat="v in data.columns">{{ v | totalize_column }}</td>
                </tr>
                </tfoot>
                </table>
                </div>
            </script>
            <script type="text/ng-template" id="sidebar.html">
                <form>
                <label for="initialYear">Initial year: </label>
                <select id="initialYear" ng-model="rangeYears.initialYear" ng-options="year for year in years" ng-change="initialYearChange()"></select>

                <label for="finalYear">Final year: </label>
                <select id="finalYear" ng-model="rangeYears.finalYear" ng-options="year for year in years" ng-change="finalYearChange()"></select>

                <button ng-click="updateUsersCountChart()">Show</button>
                </form>
            </script>
        {% endverbatim %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'bundles/celsius3core/ng/Statistics/app.js'
                           'bundles/celsius3core/ng/Statistics/controllers.js'
                           'bundles/celsius3core/ng/Statistics/filters.js' filter='?uglifyjs2'  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
