{% form_theme form 'Celsius3CoreBundle:Form:fields.html.twig' %}


<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.email.vars.valid %} has-error {% endif %}">
            {{ form_label(form.email, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.email.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.username.vars.valid %} has-error {% endif %}">
            {{ form_label(form.username, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.username.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if form.plainPassword is defined %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group {% if not form.plainPassword.first.vars.valid %} has-error {% endif %}">
                {{ form_label(form.plainPassword.first, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    {% for error in form.plainPassword.first.vars.errors %}
                        <p class="text-danger">{{ error.message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group {% if not form.plainPassword.second.vars.valid %} has-error {% endif %}">
                {{ form_label(form.plainPassword.second, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                <div class="col-md-8">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    {% for error in form.plainPassword.second.vars.errors %}
                        <p class="text-danger">{{ error.message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="form-group {% if not form.name.vars.valid %} has-error {% endif %}">
            {{ form_label(form.name, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-8">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.name.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group {% if not form.surname.vars.valid %} has-error {% endif %}">
            {{ form_label(form.surname, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
            <div class="col-md-8">
                {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.surname.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group {% if not form.birthdate.vars.valid %} has-error {% endif %}">
            {{ form_label(form.birthdate, null, { 'label_attr': {'class': 'col-md-6 control-label'} }) }}
            <div class="col-md-6">
                {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.birthdate.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group {% if not form.address.vars.valid %} has-error {% endif %}">
            {{ form_label(form.address, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.address.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group {% if not form.enabled.vars.valid %} has-error {% endif %}">
            {{ form_label(form.enabled, null, { 'label_attr': {'class': 'col-md-8 control-label'} }) }}
            <div class="col-md-4">
                {{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.enabled.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group {% if not form.locked.vars.valid %} has-error {% endif %}">
            {{ form_label(form.locked, null, { 'label_attr': {'class': 'col-md-8 control-label'} }) }}
            <div class="col-md-4">
                {{ form_widget(form.locked, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.locked.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group {% if not form.pdf.vars.valid %} has-error {% endif %}">
            {{ form_label(form.pdf, null, { 'label_attr': {'class': 'col-md-8 control-label'} }) }}
            <div class="col-md-4">
                {{ form_widget(form.pdf, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.pdf.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group {% if not form.downloadAuth.vars.valid %} has-error {% endif %}">
            {{ form_label(form.downloadAuth, null, { 'label_attr': {'class': 'col-md-8 control-label'} }) }}
            <div class="col-md-4">
                {{ form_widget(form.downloadAuth, { 'attr': {'class': 'form-control'} }) }}
                {% for error in form.downloadAuth.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.country.vars.valid %} has-error {% endif %}">
            {{ form_label(form.country, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.country, { 'attr': {'class': 'form-control country-select', 'data-placeholder': 'label.country' | trans([], 'Celsius3CoreBundle_Form') | first_upper} }) }}
                {% for error in form.country.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.institution.vars.valid %} has-error {% endif %}">
            {{ form_label(form.institution, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.institution, { 'attr': {'class': 'form-control institution-select', 'data-placeholder': 'label.institution' | trans([], 'Celsius3CoreBundle_Form') | first_upper} }) }}
                {% for error in form.institution.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for child in form.children %}
    {% if not child.rendered and "hidden" not in child.vars.block_prefixes and child.vars.name != 'observaciones' %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group {% if not child.vars.valid %} has-error {% endif %}">
                    {{ form_label(child, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
                    <div class="col-md-10">
                        {% set class = (child.vars.attr.class is defined) ? child.vars.attr.class : '' %}
                        {{ form_widget(child, { 'attr': { 'class': 'form-control ' ~ class } }) }}
                        {% for error in child.vars.errors %}
                            <p class="text-danger">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.observaciones.vars.valid %} has-error {% endif %}">
            {{ form_label(form.observaciones, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
            <div class="col-md-10">
                {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control summernote'} }) }}
                {% for error in form.observaciones.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
