<h1>Institution</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ document.name }}</td>
        </tr>
        <tr>
            <th>Abbreviation</th>
            <td>{{ document.abbreviation }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ document.website }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ document.address }}</td>
        </tr>
        <tr>
            <th>Users</th>
            <td>{{ document.users }}</td>
        </tr>
        <tr>
            <th>Institutions</th>
            <td>{{ document.institutions }}</td>
        </tr>
        <tr>
            <th>Parent</th>
            <td>{{ document.parent }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ document.location }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('institution') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('institution_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('institution_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
