<ul class="unstyled pull-right actions">
    <li>
        <a href="{{ path('superadmin_instance_edit', { 'id': instance.id }) }}"><i class="icon-pencil"></i> {{ 'Edit'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('superadmin_instance_configure', { 'id': instance.id }) }}"><i class="icon-wrench"></i> {{ 'Configuration'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('superadmin_instance_switch', { 'id': instance.id }) }}">
            {% if instance.enabled %}
            <i class="icon-remove"></i> {{ 'Disable'|trans }}
            {% else %}
            <i class="icon-ok"></i> {{ 'Enable'|trans }}
            {% endif %}
        </a>
    </li>
</ul>