{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Login'|trans }}
{% endblock %}

{% block content %}
{% if error %}
<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check", { 'url': app.request.get('url') }) }}" method="post" class="well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div>
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div>
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />
    </div>
    <div>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
{% endblock content %}
