{% if instance %}
    {% set request = element.request(instance) %}
{% else %}
    {% set request = element.originalRequest %}
{% endif %}
<div class="item_container">

    <div class="top_info">
        <div class="top_left">
            {% if request.type == constant('Celsius3\\CoreBundle\\Manager\\OrderManager::TYPE__SEARCH') %}
                <div class="busqueda">B</div>
            {% else %}
                <div class="provision">P</div>
            {% endif %}
            <div class="tipoarticulo">{{ get_material_type(element.materialData)|trans }}</div>
        </div>

        <div class="top_right">
            <div class="status-{{ request.currentState }}" data-toggle="tooltip" title="{{ request.currentState | transchoice(1) }}"></div>
            <div class="uri">{{ element.code }}</div>
            <div class="usuario">
                {% if request.operator %}
                    {{ request.operator }}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="decoracion"></div>
        </div>

        <div class="top_center pull-right text-center">
            {{ request.created_at | localizeddate('medium', 'none')}}
        </div>
    </div>

    <div class="main_info" data-order-id="{{ element.id }}">
        <div class="title_and_author">
            <div class="titulo">
                {% if (get_material_type(element.materialData) == 'journal') %}
                    {% if (element.materialData.journal) %}
                        <a href="{{ path('admin_order_show', {'id': element.id}) }}">{{ element.materialData.journal.name | upper }}</a>
                    {% else %}
                        {{ element.materialData.other | upper }}
                    {% endif %}
                {% elseif (get_material_type(element.materialData) == 'book') %}
                    {{ element.materialData.title | upper }}
                {% endif %}
            </div>
            <div class="titulo">
                {% if (get_material_type(element.materialData) == 'book') %}
                    <span>{{ element.materialData.chapter }}</span>
                {% else %}
                    {% if (element.materialData.title is not empty) %}
                        <span>{{ element.materialData.title }}</span>
                    {% else %}
                        <span>[ {{ 'sinTitulo' | trans }} ]</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="autor">{{ element.materialData.authors }}</div>
            <div class="doc_year">{{ element.materialData.year }}</div>
        </div>

        {% if ((element.originalRequest.currentState == 'received' or element.originalRequest.currentState == 'delivered') and element.originalRequest.files.count > 0 and (app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_SUPER_ADMIN') or (element.originalRequest.owner.downloadAuth and element.originalRequest.owner.pdf and element.originalRequest.hasDownloadableFiles ))) %}
            <div class="doc_and_year">
                <p>{{ 'download' | trans }}</p>
                <p>
                    {% for file in element.originalRequest.files %}
                        {% if (app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_SUPER_ADMIN') or (element.originalRequest.owner.downloadAuth and element.originalRequest.owner.pdf and (not file.isDownloaded or file.hasDownloadTime) and file.enabled)) %}
                            <a class="btn btn-default btn-lg disable-double-click" href="{{  path('user_file_download', {request: element.originalRequest.id, file: file.id}) }}" title="{{file.name}}">
                                <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    </div>

    <div class="clearfix"></div>

</div>
