<dl class="dl-horizontal">
    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ institution.name }}</dd>
    <dt>{{ 'Abbreviation'|trans }}</dt>
    <dd>{{ institution.abbreviation }}</dd>
    <dt>{{ 'Website'|trans }}</dt>
    <dd><a href="{{ institution.website }}" target="_blank">{{ institution.website }}</a></dd>
    <dt>{{ 'Parent institution'|trans }}</dt>
    <dd>{{ institution.parent?institution.parent:'-' }}</dd>
    <dt>{{ 'City'|trans }}</dt>
    <dd>{{ institution.city }}</dd>
    <dt>{{ 'Owning instance'|trans }}</dt>
    <dd>{{ institution.instance?institution.instance:'-' }}</dd>
    <dt>{{ 'Celsius instance'|trans }}</dt>
    <dd>{{ institution.celsiusInstance?institution.celsiusInstance:'-' }}</dd>
</dl>