{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'User View' | trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var element_id
        = {{ (element is defined and element) ? element.id : '' }};
    </script>
    {% javascripts 'bundles/celsius3core/ng/AdminBaseUser/app.js'
                           'bundles/celsius3core/ng/AdminBaseUser/controllers.js'
                           'bundles/celsius3core/ng/AdminBaseUser/filters.js' filter='?uglifyjs2'  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h2>{{ 'User View'|trans }}</h2>

    <div class="row" ng-app="userApp">
        <div class="col-md-9">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

            <h3>{{ 'Personal data'|trans }}</h3>
            {% embed 'Celsius3CoreBundle:AdminBaseUser:_show_fields.html.twig' %}
                {% block actions %}
                {% endblock %}
            {% endembed %}

            <h3>{{ 'Institutional data'|trans }}</h3>
            <div class="row">
                <dl class="dl-horizontal">
                    <dt>{{ 'Institution'|trans }}</dt>
                    <dd>{{ element.institution }}</dd>
                    {% include 'Celsius3CoreBundle:AdminBaseUser:_institution.html.twig' with {'institution': element.institution.parent } only %}
                </dl>
            </div>

            <h3>{{ 'Orders'|trans }}</h3>
            <div>
                <div ng-controller="UserCtrl">
                    <div ng-include="'orders.html'" ng-view>

                    </div>
                    {% verbatim %}
                        <!-- orders.html -->
                        <script type="text/ng-template" id="orders.html">
                            <div class="row" >
                            <ul class="nav nav-tabs">
                            <li class="active"><a id="active-tab" href="#active" data-toggle="tab">{{ 'Active' | translate }}</a></li>
                            <li><a id="ready-tab" href="#ready" data-toggle="tab">{{ 'Ready' | translate }}</a></li>
                            <li><a id="history-tab" href="#history" data-toggle="tab">{{ 'History' | translate }}</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div class="tab-pane active" id="active">
                            <br/>
                            <div class="navigation">
                            <pagination total-items="paginationActive.total"
                            items-per-page="paginationActive.resultsPerPage"
                            max-size="7"
                            boundary-links="true"
                            rotate="false"
                            num-pages="numPages"
                            ng-model="paginationActive.currentPage"
                            ng-change="pageChangedActive()"
                            previous-text="{{ 'Previous' | translate }}"
                            next-text="{{ 'Next' | translate }}"
                            first-text="{{ 'First' | translate }}"
                            last-text="{{ 'Last' | translate }}">
                            </pagination>
                            </div>
                            <br/><br/><br/>
                            <div class="item_container" ng-repeat="order in paginationActive.orders">
                            <div ng-include="'_index_element.html'"></div>
                            </div>
                            <div ng-if="paginationActive.total == 0">
                            <p>{{ 'There are no orders.' | translate }}</p>
                            </div>
                            </div>


                            <div class="tab-pane" id="ready">
                            <br/>
                            <div class="navigation">
                            <pagination total-items="paginationReady.total"
                            items-per-page="paginationReady.resultsPerPage"
                            max-size="7"
                            boundary-links="true"
                            rotate="false"
                            num-pages="numPages"
                            ng-model="paginationReady.currentPage"
                            ng-change="pageChangedReady()"
                            previous-text="{{ 'Previous' | translate }}"
                            next-text="{{ 'Next' | translate }}"
                            first-text="{{ 'First' | translate }}"
                            last-text="{{ 'Last' | translate }}">
                            </pagination>
                            </div>

                            <br/><br/><br/>
                            <div class="item_container" ng-repeat="order in paginationReady.orders">
                            <div ng-include="'_index_element.html'"></div>
                            </div>
                            <div ng-if="paginationReady.total == 0">
                            <p>{{ 'There are no orders.' | translate }}</p>
                            </div>
                            </div>


                            <div class="tab-pane" id="history">
                            <br/>
                            <div class="navigation">
                            <pagination total-items="paginationHistory.total"
                            items-per-page="paginationHistory.resultsPerPage"
                            max-size="7"
                            boundary-links="true"
                            rotate="false"
                            num-pages="numPages"
                            ng-model="paginationHistory.currentPage"
                            ng-change="pageChangedHistory()"
                            previous-text="{{ 'Previous' | translate }}"
                            next-text="{{ 'Next' | translate }}"
                            first-text="{{ 'First' | translate }}"
                            last-text="{{ 'Last' | translate }}">
                            </pagination>
                            </div>

                            <br/><br/><br/>
                            <div class="item_container" ng-repeat="order in paginationHistory.orders">
                            <div ng-include="'_index_element.html'"></div>
                            </div>
                            <div ng-if="paginationHistory.total == 0">
                            <p>{{ 'There are no orders.' | translate }}</p>
                            </div>
                            </div>
                            </div>
                            </div>
                        </script>

                        <!-- _index_element.html -->
                        <script type="text/ng-template" id="_index_element.html">
                                <div class="top_info">
                                    <div class="top_left">
                                        <div ng-class="order.original_request.type | request_type">{{order.original_request.type| request_type_abbr | translate}}</div>
                                        <div class="tipoarticulo">{{order.material_data.type | translate}}</div>
                                    </div>

                                    <div class="top_right">
                                        <div class="status-{{order.original_request.current_state}}" data-toggle="tooltip" title="{{order.original_request.current_state | translate}}"></div>
                                        <div class="uri">{{order.code}}</div>
                                        <div class="usuario">
                                            {{order.original_request.operator ? order.original_request.operator.name : '-'}}
                                        </div>
                                        <div class="decoracion"></div>
                                    </div>

                                    <div class="top_center pull-right text-center">
                                        {{order.original_request.created_at|date:'mediumDate'}}
                                    </div>
                                </div>

                                <div class="main_info" data-order-id="{{ order.id }}">
                                    <div class="title_and_author">
                                        <div class="titulo">
                                                <span ng-if="order.material_data.title">{{ order.material_data.title }}</span>
                                                <span ng-if="!order.material_data.title">[ {{ 'sinTitulo' | translate}} ] - </span>
                                        </div>
                                        <div class="titulo" ng-if="order.material_data.type === 'journal'">
                                            <a ng-href="{{ {path: 'admin_journal_show', params: {'id':order.material_data.journal.id} }|get_url}}" ng-if="order.material_data.journal">{{ order.material_data.journal.name }}</a>
                                            <span ng-if="!order.material_data.journal">{{ order.material_data.other }}</span>
                                        </div>
                                        <div class="autor">{{order.material_data.authors}}</div>
                                        <div class="doc_year">{{order.material_data.year}}</div>
                                    </div>
                                    <div class="doc_and_year">
                                        <div ng-if="order.original_request.owner.pdf === true" class="doc_type_pdf"></div>
                                        <div ng-if="order.original_request.owner.pdf !== true" class="doc_type_print"></div>
                                        <div class="busquedas">
                                            {{'searches'|translate}}: {{countSearches(order.original_request)}}
                                        </div>
                                    </div>
                                </div>

                                <div class="comments">{{order.original_request.comments}}</div>

                                <div class="order-actions">
                                    <ul class="list-unstyled actions">
                                        <li ng-if="searchPending(order.original_request)">
                                            <img src="/bundles/celsius3core/images/stateline/circulo_con_exclamacion.png" width="15" height="15" alt="search pending" data-toggle="tooltip" data-placement="bottom" title="{{ 'Pending searchs' | translate }}"/>
                                        </li>
                                        <li>
                                            <a class="btn btn-default" ng-href="{{ {path: 'admin_order_edit', params: {'id': order.id} }|get_url }}" title="{{ 'EditOrder' | translate }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </li>
                                        <li>
                                            <form method="POST" action="{{ {path: 'admin_order_duplicate', params: {'id': order.id} }|get_url }}" style="display: inline-block" >
                                            <a href class="submit-form btn btn-default" title="{{ 'CloneOrder' | translate }}"><span class="fa fa-files-o"></span></a>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                        </script>
                    {% endverbatim %}
                </div>
            </div>

            <h3>{{ 'Messages' | trans }}</h3>
            <div class="row">
                {% for thread in messages %}
                    <div id="id{{ thread.id }}">
                        <div class="message-heading {{ fos_message_is_read(thread)?'message-read':'' }}">
                            <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                                <span class="label label-default message-creator col-md-2">
                                    {{  thread.lastMessage.sender.fullName }}
                                </span>
                                <span class="message-subject col-md-7 autoellipsis">
                                    ({{ get_unread_messages(thread) }}) {{ thread.subject }}
                                </span>
                                <span class="pull-right">
                                    {{ thread.lastMessage.createdAt|localizeddate }}
                                </span>
                                <span class="clearfix"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse in collapse" id="collapseTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('admin_user') }}">
                                        <span class="glyphicon glyphicon-home"></span> {{ 'Go to the list'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_user_edit', { 'id': element.id }) }}">
                                        <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_order_new', { 'user_id': element.id }) }}">
                                        <span class="glyphicon glyphicon-plus"></span> {{ 'Add order'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_resetting_admin', { 'username': element.username }) }}">
                                        <span class="fa fa-key"></span> {{ 'Reset password'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
