<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ 'User'|trans }}: {{ element.username }}</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="userId" value="{{ element.id }}" />
        {% include 'Celsius3CoreBundle:BaseUser:_show_fields.html.twig' %}
      </div>
      <div class="modal-footer">
        <a class="user-enable-modal btn btn-primary" href="#"><span class="glyphicon glyphicon-ok"></span> {{ 'Enable'|trans }}</a>
        <a href="{{ path('admin_user_edit', { 'id': element.id }) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> {{ 'Close'|trans }}</button>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
