{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'User View'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'User View'|trans }}</h2>

    <div class="row">
        <div class="col-md-9">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

            <h3>{{ 'Personal data'|trans }}</h3>
            {% embed 'Celsius3CoreBundle:AdminBaseUser:_show_fields.html.twig' %}
                {% block actions %}{% endblock %}
            {% endembed %}

            <h3>{{ 'Institutional data'|trans }}</h3>
            <div class="row">
                <dl class="dl-horizontal">
                    <dt>{{ 'Institution'|trans }}</dt>
                    <dd>{{ element.institution }}</dd>
                    {% include 'Celsius3CoreBundle:AdminBaseUser:_institution.html.twig' with {'institution': element.institution.parent } only %}
                </dl>
            </div>

            <h3>{{ 'Orders'|trans }}</h3>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#active" data-toggle="tab">{{ 'Active'|trans }}</a></li>
                    <li><a href="#ready" data-toggle="tab">{{ 'Ready'|trans }}</a></li>
                    <li><a href="#history" data-toggle="tab">{{ 'History'|trans }}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="active">
                        {% for order in orders.active %}
                            {% include 'Celsius3CoreBundle:AdminOrder:_index_element.html.twig' with {'element': order}%}
                        {% else %}
                            <p>{{ 'There are no orders.' | trans }}</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="ready">
                        {% for order in orders.ready %}
                            {% include 'Celsius3CoreBundle:AdminOrder:_index_element.html.twig' with {'element': order}%}
                        {% else %}
                            <p>{{ 'There are no orders.' | trans }}</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="history">
                        {% for order in orders.history %}
                            {% include 'Celsius3CoreBundle:AdminOrder:_index_element.html.twig' with {'element': order}%}
                        {% else %}
                            <p>{{ 'There are no orders.' | trans }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <h3>{{ 'Messages' | trans }}</h3>
            <div class="row">
                {% for thread in messages %}
                    <div id="id{{ thread.id }}">
                        <div class="message-heading {{ fos_message_is_read(thread)?'message-read':'' }}">
                            <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                                <span class="label label-default message-creator col-md-2">
                                    {{  thread.lastMessage.sender.fullName }}
                                </span>
                                <span class="message-subject col-md-7 autoellipsis">
                                    ({{ get_unread_messages(thread) }}) {{ thread.subject }}
                                </span>
                                <span class="pull-right">
                                    {{ thread.lastMessage.createdAt|localizeddate }}
                                </span>
                                <span class="clearfix"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse in collapse" id="collapseTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('admin_user') }}">
                                        <span class="glyphicon glyphicon-home"></span> {{ 'Go to the list'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_user_edit', { 'id': element.id }) }}">
                                        <span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_order_new', { 'user_id': element.id }) }}">
                                        <span class="glyphicon glyphicon-plus"></span> {{ 'Add order'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_resetting_admin', { 'username': element.username }) }}">
                                        <span class="fa fa-key"></span> {{ 'Reset password'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
