{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'User Transform'|trans }}
{% endblock %}

{% from "Celsius3CoreBundle:Macro:crud.html.twig" import transform as transform %}

{% block content %}
    <h2>{{ 'User Transform'|trans }}
        -
        {{ entity.name }}</h2>

    {{ transform('admin_user', entity, transform_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('#user_transform_institution').parent().hide();
        $('#user_transform_prebi_0').click(function() {
            $("input:checked")

            if ($('#user_transform_prebi_0:checked').val() == 'ROLE_LIBRARIAN') {
                $('#user_transform_institution').parent().show();
            } else {
                $('#user_transform_institution').parent().hide();
            }

        });
    </script>
{% endblock %}
