<table class="table table-striped table-bordered table-condensed record_properties">
    <tbody>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Comments'|trans }}</th>
            <td>{{ entity.comments }}</td>
        </tr>
        <tr>
            <th>{{ 'Uploaded'|trans }}</th>
            <td>{{ entity.uploaded|localizeddate() }}</td>
        </tr>
    </tbody>
</table>
