{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block content %}
    <div class="row">
        <h3>{{ 'Instance data request' | trans }}</h3>
        <hr class="separator_hr">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{{ path('admin_instance_data_request') }}">{{ 'orders' | trans }}</a>
                </li>
                <li role="presentation" class="active"><a href="#">{{ 'Users' | trans }}</a></li>
            </ul>
            <br>
            {{ form_start(form) }}
            <div class="row">
                <fieldset>
                    <legend>{{ 'Select a name for the request' | trans }}</legend>
                    <div class="col-md-12">
                        <div class="form-group {% if form.name.vars.errors | length > 0 %}has-error{% endif %}">
                            {{ form_label(form.name, null, { 'label_attr': {'class': 'col-md-2 control-label'} }) }}
                            <div class="col-md-10">
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                {% for error in form.name.vars.errors %}
                                    <p class="text-danger">{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <br>
            <div class="row">
                <fieldset>
                    <legend>{{ 'Select dates range on which you wish to consult' | trans }}</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.startDate, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                            <div class="col-md-8">
                                {{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.endDate, null, { 'label_attr': {'class': 'col-md-4 control-label'} }) }}
                            <div class="col-md-8">
                                {{ form_widget(form.endDate, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <br>
            <div class="row">
                <fieldset>
                    <legend>
                        {{ 'Select the data set that you want to export' | trans }}
                        <label class="col-md-10 control-label text-md" for="selectAll" style="font-weight: normal">
                            <input type="checkbox" id="selectAll" class="form-check-input">
                            {{ 'select all' | trans }}
                        </label>
                    </legend>
                    {% for error in form.vars.errors %}
                        <p class="text-danger">{{ 'No data selected' | trans }}</p>
                    {% endfor %}
                    <div class="row"
                         style="border: 1px solid grey; padding-top: 10px; margin-bottom: 20px">

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.email, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.first_name, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.surname, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.birthdate, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.address, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.downloadAuth, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.downloadAuth, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.pdf, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.pdf, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.locked, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.locked, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.institution, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.institution, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.observaciones, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-2">
                                    {{ form_widget(form.lastLogin, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                {{ form_label(form.lastLogin, null, { 'label_attr': {'class': 'col-md-10 control-label'} }) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>
        <div class="col-md-3">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"
                               class="accordion-toggle">
                                <span class="glyphicon glyphicon-wrench"></span> {{ 'Actions'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse in collapse" id="collapseTwo">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('administration') }}">
                                        <span class="glyphicon glyphicon-plus"></span> {{ 'Go to Administration'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

