<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}: 
    </span>
    {% include 'Celsius3CoreBundle:Order:_index_sort.html.twig' %}
</div>
<div class="clearfix"></div>
{% for order in pagination %}
<div id="code{{ order.code }}" class="accordion {{ get_material_type(order.materialData) }}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ order.code }}" data-parent="#code{{ order.code }}" data-toggle="collapse" class="accordion-toggle">
                <span>{{ order.code }} - {{ order.materialData.title }}</span>
                {% block extrainfo %}{% endblock %}
            </a>
        </div>
        <div class="accordion-body collapse" id="collapse{{ order.code }}">
            <div class="accordion-inner">
                {% block ordercontent %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endfor %}