<div class="well">
    <div class="dash">
        <a class="btn btn-large" href="#" style="width: 80px;">
            <i class="icon-file"></i><br />
            {{ 'Add Order'|trans }}
        </a>
        <a class="btn btn-large" href="#" style="width: 80px;">
            <i class="icon-envelope"></i><br />
            {{ 'New Mail'|trans }}
        </a>
        <a class="btn btn-large" href="#" style="width: 80px;">
            <i class="icon-user"></i><br />
            {{ 'Registrations'|trans }}
        </a>
        <a class="btn btn-large" href="#" style="width: 80px;">
            <i class="icon-font"></i><br />
            {{ 'Add News'|trans }}
        </a>
        <a class="btn btn-large" href="#" style="width: 80px;">
            <i class="icon-wrench"></i><br />
            {{ 'Configuration'|trans }}
        </a>
    </div>
</div>