<div class="span6">
    <div class="well">
        <h2>{{ 'Shared Elements'|trans }}</h2>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Country'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('superadmin_country_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_country') }}"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magnet"></i> {{ 'Unions'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        {{ 'City'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('superadmin_city_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_city') }}"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magnet"></i> {{ 'Unions'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        {{ 'Institution'|trans }}
                    </li>
                    <li>
                        <a href="#"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magnet"></i> {{ 'Unions'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        {{ 'Journal'|trans }}
                    </li>
                    <li>
                        <a href="#"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magnet"></i> {{ 'Unions'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        {{ 'Global Catalog'|trans }}
                    </li>
                    <li>
                        <a href="#"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magnet"></i> {{ 'Unions'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        {{ 'Mail Template'|trans }}
                    </li>
                    <li>
                        <a href="#"><i class="icon-list"></i> {{ 'List'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>