<div class="span6">
    <div class="well">
        <h2>{{ 'Shared Elements'|trans }}</h2>
        <div class="row">
            <div class="span3">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <a href="{{ path('superadmin_country') }}"><i class="icon-list"></i> {{ 'Countries'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_country_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        <a href="{{ path('superadmin_city') }}"><i class="icon-list"></i> {{ 'Cities'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_city_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        <a href="{{ path('superadmin_institution') }}"><i class="icon-list"></i> {{ 'Institution'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_institution_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <a href="{{ path('superadmin_journal') }}"><i class="icon-list"></i> {{ 'Journal'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_journal_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        <a href="{{ path('superadmin_catalog') }}"><i class="icon-list"></i> {{ 'Global Catalog'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_catalog_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                    <li class="nav-header">
                        <a href="{{ path('superadmin_mails') }}"><i class="icon-list"></i> {{ 'Mail Template'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('superadmin_mails_new') }}"><i class="icon-plus"></i> {{ 'Add'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>