{% extends 'Celsius3CoreBundle:Administration:layout.html.twig' %}

{% block title %}
    {{ 'Search results'|trans }}
{% endblock %}

{% block content %}

    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ '?keyword=' ~ keyword %}

    <h3>{{ 'Search results'|trans }}</h3>
    <div class="row">
        <div class="col-md-9">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% for e in pagination %}
                {% set element = e.order %}
                {% if element is not empty %}
                    {% include 'Celsius3CoreBundle:AdminOrder:_index_element.html.twig' %}
                {% endif %}
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-3">
            {% include 'Celsius3CoreBundle:AdminSearch:_aggregations.html.twig' %}
        </div>
    </div>

    {% include 'Celsius3CoreBundle:AdminSearch:_search_widget.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('mouseover', 'div.main_info', function() {
                $(this).addClass('order-on-mouseover');
                $(this).css('cursor', 'pointer');
            }).on('mouseout', 'div.main_info', function() {
                $(this).removeClass('order-on-mouseover');
                $(this).css('cursor', 'auto');
            }).on('click', 'div.main_info', function() {
                var url = Routing.generate('admin_order_show', {id: $(this).attr('data-order-id')})
                $(location).attr("href", url);
            });
        });
    </script>
{% endblock %}
