{% extends 'BaseUser/_index_element_actions.html.twig' %}

{% block extraactions %}
    <li>
        <a href="{{ path('admin_user_show', {'id': element.id}) }}">
            <span class="glyphicon glyphicon-eye-open"></span> {{ 'Show' | trans }}
        </a>
    </li>
    {% if (element.username is not empty) %}
        <li>
            <a href="{{ path('fos_user_resetting_admin', {'username': element.username}) }}">
                <span class="fa fa-key"></span> {{ 'Reset password' | trans }}
            </a>
        </li>

        {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('switch_user', {'_switch_user': element.username}) }}">
                    <span class="glyphicon glyphicon-log-in"></span> {{ 'Login as' | trans }}
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
