<ul class="list-unstyled pull-right actions">
    {% if not element.enabled %}
    <li>
        <a href="{{ path(name~'_enable', { 'id': element.id }) }}"><span class="glyphicon glyphicon-ok"></span> {{ 'Enable'|trans }}</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ path(name~'_edit', { 'id': element.id }) }}"><span class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a>
    </li>
    <li>
        <a href="{{ path(name~'_transform', { 'id': element.id }) }}"><span class="glyphicon glyphicon-pencil"></span> {{ 'Transform'|trans }}</a>
    </li>
</ul>