<ul class="list-unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'e.id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'e.name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Surname'|trans, 'e.surname') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'e.username') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'e.email') }}</li>
</ul>
