<ul class="unstyled">
    <li>{{ knp_pagination_sortable(pagination, 'Default'|trans, 'id') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Surname'|trans, 'surname') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'username') }} - </li>
    <li>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'email') }}</li>
</ul>