<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>{{ 'Username'|trans }}</dt>
            <dd>{{ element.username }}</dd>
            <dt>{{ 'Country'|trans }}</dt>
            <dd>{{ get_country(element.institution) }}</dd>
            <dt>{{ 'City'|trans }}</dt>
            <dd>{{ get_city(element.institution) ? get_city(element.institution) : '-' }}</dd>
            <dt>{{ 'Birthdate'|trans }}</dt>
            <dd>{{ element.birthdate|localizeddate('medium','none') }}</dd>
            <dt>{{ 'Address'|trans }}</dt>
            <dd>{{ element.address ? element.address : '-' }}</dd>
            <dt>{{ 'Email'|trans }}</dt>
            <dd>
                {{ element.email }}
                <a href="#" class="emailModal" data-email="{{ element.email }}"><span class="glyphicon glyphicon-envelope"></span></a>
            </dd>
            {% for customValue in element.customValues %}
                <dt>{{ customValue.field.name|trans }}</dt>
                <dd>{{ customValue.value }}</dd>
            {% endfor %}
        {% block extrainfo %}{% endblock %}
    </dl>
</div>
<div class="col-md-4">
{% block actions %}{% endblock %}
</div>
</div>
