<ul id="user_panel" class="unstyled">
    {% if app.user %}
    <li>
        {{ 'You are logged in as'|trans }} 
   </li>
        <a href="{{path('fos_user_resetting_reset', {'url': app.session.get('instance_url'), 'token': app.security.token })}}" class="btn btn-primary"><i class="icon-wrench"></i> Settings</a>
        <a href="{{ path('fos_user_security_logout', { 'url': app.session.get('instance_url') }) }}" class="btn btn-danger"><i class="icon-off"></i> Logout</a>
    </li>
    {% else %}
    <li>
        {{ 'You are not logged in'|trans }}
    </li>
    <li>
        <a href="{{ path('fos_user_security_login', { 'url': app.request.get('url')?app.request.get('url'):app.session.get('instance_url') }) }}" class="btn btn-primary"><i class="icon-user"></i> Login</a>
        <a href="{{ path('fos_user_registration_register', { 'url': app.request.get('url')?app.request.get('url'):app.session.get('instance_url') }) }}" class="btn"><i class="icon-plus"></i> Register</a>
    </li>
    {% endif %}
</ul>