<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Celsius3</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/celsiuscelsius3/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/celsiuscelsius3/css/select2.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/celsiuscelsius3/css/smoothness/jquery-ui-1.9.0.custom.min.css') }}"/>
        {% stylesheets filter='less' output='bundles/celsiuscelsius3/css/celsius3-compiled.css'
            '@CelsiusCelsius3Bundle/Resources/public/less/*' %}
        <link href="{{ asset_url }}" rel="stylesheet" media="all" />
        {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/jquery-1.9.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/jquery.dotdotdot-1.5.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/jquery.ui.datepicker-es.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/jquery.ui.datepicker-pt.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/reduceTextBlock.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/ICanHaz.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/select2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/select2_locale_es.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/celsiuscelsius3/js/select2_locale_pt-BR.js') }}"></script>
        {% include 'CelsiusCelsius3Bundle:Layout:forms.js.twig' %}
        {% include 'CelsiusCelsius3Bundle:Layout:cosmetics.js.twig' %}
    {% endblock %}
    </head>
    <body>
        {{ clank_client() }}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% block header %}
        <div id="header">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{ path('directory') }}">Celsius3</a>
                        <div class="nav-collapse">
                            {% block navigation_top %}

                            {% if app.user %}
                                <script type="text/javascript">
                                var myClank = Clank.connect("ws://localhost:8080");
                                myClank.on("socket/connect", function(session){
                                    //session is an Autobahn JS WAMP session.
                                    console.log("Successfully Connected!");

                                    //the callback function in "subscribe" is called everytime an event is published in that channel.
                                      var channel = 'channel/' + {{ app.user.id|json_encode|raw }};
                                      session.subscribe(channel, function(uri, payload){
                                          alert(payload.msg);
                                          $('#notifications').empty();
                                          $('#notifications').append(payload.msg);
                                      });
                                });
                                </script>
                                <div id="notifications" class="dropdown"></div>
                            {% endif %}

                            {{ knp_menu_render('CelsiusCelsius3Bundle:Builder:topMenu') }}
                            {% endblock %}
                            {% block user_panel %}
                                {% include 'CelsiusCelsius3Bundle:Layout:_user_panel.html.twig' %}
                            {% endblock %}
                            {% block message_panel %}
                                {% include 'CelsiusCelsius3MessageBundle:Layout:_message_panel.html.twig' %}
                            {% endblock %}
                            {% include 'CelsiusCelsius3Bundle:Layout:_lang_panel.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="span12">
                    {% block body_title %}
                    <div class="well page-header">
                        <h1>{{ instance.get('instance_title').value }}</h1>
                    </div>
                    {% endblock %}
                    {% block navigation_content %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row">
                {% block footer %}
                <footer class="footer">
                    <p>&copy;PrEBi {{ date()|date('Y') }}</p>
                </footer>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
