<ul class="nav">
    <li>
        <a href="{{ path('public_index', { 'url': app.request.get('url') }) }}">{{ 'Home'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('public_news', { 'url': app.request.get('url') }) }}">{{ 'News'|trans }}</a>
    </li>
    {% if app.user %}
    <li>
        <a href="{{ path('administration') }}">{{ 'Administration'|trans }}</a>
    </li>
    <li>
        <a href="#">{{ 'My Site'|trans }}</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ path('public_information', { 'url': app.request.get('url') }) }}">{{ 'Information'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('public_statistics', { 'url': app.request.get('url') }) }}">{{ 'Statistics'|trans }}</a>
    </li>
    {% if app.user %}
    <li>
        <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans }}</a>
    </li>
    <li>
        <a href="{{ path('fos_user_registration_register', { 'url': app.request.get('url') }) }}">{{ 'Register'|trans }}</a>
    </li>
    {% endif %}
</ul>