{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}

{% block title %}
    {{ 'Sistema Ticket'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset( 'bundles/celsius3core/components/adminlte/plugins/datatables/dataTables.bootstrap.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset( 'bundles/celsius3core/components/adminlte/css/skins/_all-skins.min.css') }}">

{% endblock %}

{% block content -%}

<div class="box">
    <div class="box-header">
            <h1>Listado de Ticket</h1>
    </div>
        <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Estado</th>
                        <th>Usuario Asignado</th>
                        <th>Prioridad</th>
                        <th>Tema</th>
                        <th>Categoria</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>

                {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td><a data-toggle="modal" onclick="setearNroTicket('{{ ticket.id }}')" rel="{{ ticket.statusCurrent.typeState.id }}" class="btn btn-group-alone"><span class="label {{ estilos_estado(ticket.statusCurrent.typeState.id) }}">{{ ticket.statusCurrent.typeState.typeState }}</span></a>
                            </td>
                            <td>{{ ticket.userAssigned }}</td>

                            <td>{{ ticket.priority.priority }}</td>
                            <td>{{ ticket.subject }}</td>
                            <td>{{ ticket.category }}</td>
                            <td>
                                <a href="{{ path('ticket_show',{id:ticket.id}) }}"><i class="fa fa-fw fa-eye"></i></a>
                                <a data-toggle="modal" onclick="setearNroTicketUser({{ ticket.id }})" class="btn btn-group-alone"><i class="fa fa-fw fa-user"></i></a>

                            </td>

                        </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Estado</th>
                        <th>Prioridad</th>
                        <th>Tema</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>


    <div id="message-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('ticket_user_assigned') }}" method="POST" id="form_user_assigned">
                <div class="modal-header">
                    <input type="hidden" name="ticket_user_id" id="ticket_user_id">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{ 'Asignar Usuario' | trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <select name="admin_id" id="admin_id">
                            {% for admin in administradores %}
                                <option value="{{ admin.id }}">{{ admin.surname }} {{ admin.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.close' | trans }}</button>
                        <button type="button"  onclick="enviarFormUserAsignado()"  class="btn btn-primary">{{ 'ticket.asignar_usuario.modal.button.save' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="estado-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('ticket_update_status') }}" method="POST" id="form_update_status">
                <div class="modal-header">
                    <input type="hidden" name="ticket_id" id="ticket_id">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'Modificar Estado' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <select name="estado_id">
                        <option value="1">Nueva</option>
                        <option value="2">En Progreso</option>
                        <option value="4">Rechazada</option>
                        <option value="3">Resuelta</option>

                    </select>
                </div>
                <div class="modal-body">
                    <textarea name="observaciones" class="summernote"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.close' | trans }}</button>
                    <button type="button"  onclick="enviarForm()"    class="btn btn-primary">{{ 'ticket.asignar_usuario.modal.button.save' | trans }}</button>
                </div>
                </form>
            </div>
        </div>
    </div>



    {% block javascripts %}
            {{ parent() }}

            <script src="{{ asset( 'bundles/celsius3core/components/adminlte/plugins/datatables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset( 'bundles/celsius3core/components/adminlte/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

            <script>

               function setearNroTicket(ticket_id){
                   $("#ticket_id").val(ticket_id);
                   $('#estado-modal').modal({
                       show: 'false'
                   });
               }


               function setearNroTicketUser(ticket_id){
                   $("#ticket_user_id").val(ticket_id);
                   $('#message-modal').modal({
                       show: 'false'
                   });
               }



                function enviarForm(){

                    $("#form_update_status").submit();
                }
               function enviarFormUserAsignado(){

                   $("#form_user_assigned").submit();
               }

                $(function() {
                    $("#example1").DataTable();
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false
                    });
                });
            </script>

        {% endblock %}

    {% endblock %}
