{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}


{% block content -%}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3>{{ 'Detalle del Ticket'|trans }}</h3>

            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <a href="{{ path('ticket_index') }}">Volver al Listado</a>
                </div>
            </div>
                </div>

            <div class="row">
                <div class="col-md-2"><b>Tema:</b></div>
                <div class="col-md-4">{{ ticket.subject }}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Descripcion:</b></div>
                <div class="col-md-10">{{ ticket.text | raw }}</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Usuario Asignado:</b></div>
                <div class="col-md-10">{{ ticket.userAssigned }}</div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Estado:</b></div>
                <div class="col-md-4"><span class="label {{ estilos_estado(ticket.statusCurrent.typeState.id) }}">{{ ticket.statusCurrent.typeState.typeState }}</span></div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Prioridad:</b></div>
                <div class="col-md-4">{{ ticket.priority.priority }}</div>
            </div>

            <div class="row">
                <div class="col-md-2"><b>Categoria:</b></div>
                <div class="col-md-4">{{ ticket.category }}</div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Historial estado</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Fecha Creado</th>
                            <th>Observaciones</th>
                        </tr>
                        {% for history in ticket.statusHistory %}
                        <tr>
                            <td>{{ history.user }}</td>
                            <td><span class="label {{ estilos_estado(history.typeState.id) }}">{{ history.typeState.typeState }}</span></td>
                            <td>{{ history.created_at | date('d/m/Y') }}</td>
                            <td>{{ history.descripcion | raw }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}
