{% form_theme form 'Form/fields.html.twig' %}

<div class="row">
    {% if(form.originalRequest.target is defined) %}
        <div class="col-md-6">
            <div class="form-group {% if not form.originalRequest.target.vars.valid %} has-error {% endif %}">
                {{ form_row(form.originalRequest.target) }}
            </div>
            {% for error in form.originalRequest.target.vars.errors %}
                <p class="text-danger">{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if(form.originalRequest.owner_autocomplete is defined) %}
        <div class="col-md-6">
            <div class="form-group {% if not form.originalRequest.owner_autocomplete.vars.valid %} has-error {% endif %}">
                {{ form_label(form.originalRequest.owner_autocomplete) }}
                {{ form_widget(form.originalRequest.owner_autocomplete, { 'attr': { 'class': 'form-control' } }) }}
                {% for error in form.originalRequest.owner_autocomplete.vars.errors %}
                    <p class="text-danger">{{ error.message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="col-md-12">
        <div class="form-group {% if not form.materialDataType.vars.valid %} has-error {% endif %}">
            {{ form_row(form.materialDataType) }}
        </div>
        {% for error in form.materialDataType.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="material_data">
            {% if (entity is defined and entity.materialData is not null) %}
                {% set material = get_material_type(entity.materialData) %}
            {% else %}
                {% set material = 'journal' %}
            {% endif %}

            {% include 'Order/_materialData.html.twig' %}
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="form-group {% if not form.originalRequest.comments.vars.valid %} has-error {% endif %}">
            {{ form_row(form.originalRequest.comments) }}
        </div>
        {% for error in form.originalRequest.comments.vars.errors %}
            <p class="text-danger">{{ error.message }}</p>
        {% endfor %}
    </div>
</div>
{% if (form.save_and_show is defined) %}
    {{ form_row(form.save_and_show) }}
{% endif %}

{{ form_rest(form.originalRequest) }}
{{ form_widget(form._token) }}
