{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<p><span>{{ 'Type'|trans }}</span> {{ 'Book'|trans }}</p>
{% endblock %}

{% block extraData %}
<p><span>{{ 'Editor'|trans }}</span> {{ materialData.editor?materialData.editor:'-' }}</p>
<p><span>{{ 'Chapter'|trans }}</span> {{ materialData.chapter?materialData.chapter:'-' }}</p>
<p><span>{{ 'ISBN'|trans }}</span> {{ materialData.ISBN?materialData.ISBN:'-' }}</p>
<p><span>{{ 'With Index'|trans }}</span> {{ (materialData.withIndex?'Yes':'No')|trans }}</p>
{% endblock %}