{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<p><span>{{ 'Type'|trans }}</span> {{ 'Congress'|trans }}</p>
{% endblock %}

{% block extraData %}
<p><span>{{ 'Place'|trans }}</span> {{ materialData.place?materialData.place:'-' }}</p>
<p><span>{{ 'Communication'|trans }}</span> {{ materialData.communication?materialData.communication:'-' }}</p>
{% endblock %}