{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<p><span>{{ 'Type'|trans }}</span> {{ 'Journal'|trans }}</p>
{% endblock %}

{% block extraData %}
<p><span>{{ 'Volume'|trans }}</span> {{ materialData.volume?materialData.volume:'-' }}</p>
<p><span>{{ 'Number'|trans }}</span> {{ materialData.number?materialData.number:'-' }}</p>
<p><span>{{ 'Journal'|trans }}</span> {{ materialData.journal?materialData.journal:'-' }}</p>
{% endblock %}