<div class="material-data">
    {% block dataType %}{% endblock %}
    <p><span>{{ 'Title'|trans }}</span> {{ materialData.title?materialData.title:'-' }}</p>
    <p><span>{{ 'Year'|trans }}</span> {{ materialData.year?materialData.year:'-' }}</p>
    <p><span>{{ 'Start page'|trans }}</span> {{ materialData.startPage?materialData.startPage:'-' }}</p>
    <p><span>{{ 'End page'|trans }}</span> {{ materialData.endPage?materialData.endPage:'-' }}</p>
    {% block extraData %}{% endblock %}
</div>