{% extends 'Celsius3CoreBundle:MaterialType:_materialType.html.twig' %}

{% block dataType %}
<p><span>{{ 'Type'|trans }}</span> {{ 'Thesis'|trans }}</p>
{% endblock %}

{% block extraData %}
<p><span>{{ 'Director'|trans }}</span> {{ materialData.director?materialData.director:'-' }}</p>
<p><span>{{ 'Degree'|trans }}</span> {{ materialData.degree?materialData.degree:'-' }}</p>
{% endblock %}