<li class="col-md-6">
    <div class="well">
        {% if instance.isCurrent %}
            <h2 class="instance-title">
                <img src="/uploads/logos/{{ instance.get('instance_logo').value }}" alt="logo" class="instance-logo-min"/>
                <a href="http://{{ instance.host }}" target="_blank">{{ instance.get('instance_title').value }}</a>
            </h2>
        {% endif %}
        <h3>{{ instance.name }} ({{ instance.abbreviation }})</h3>
        <p>
            {{ 'Institutions'|trans }}: 
            <ul>
                {% for institution in instance.ownerInstitutions %}
                    <li>{{ institution.name~(institution.parent ? ' ('~institution.parent~')':'')}}</li>
                {% else %}
                    <li>-</li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <a href="{{ instance.website }}" target="_blank">{{ 'Website'|trans }}</a>
        </p>
        <p>
            <a href="mailto:{{ instance.email }}">{{ 'Contact'|trans }}</a>
        </p>
    </div>
</li>
