{% extends 'Celsius3CoreBundle:Layout:directory_layout.html.twig' %}

{% block title %}
    {{ 'Instances'|trans }}
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-md-6">
            <h2>{{ 'Celsius3 Instances'|trans }}</h2>
            {% for country, insts in instances %}
                {% include 'Celsius3CoreBundle:Directory:_instance.html.twig' %}
            {% else %}
                {{ 'There are no instances.'|trans }}
            {% endfor %}
        </div>
        <div class="col-md-6">

            <div class="map">
             <img src="{{ asset('images/mapa.jpg') }}" alt="" style="width:100%; height:auto;"> 
                

                {{ ivory_google_map(map) }}
                {{ ivory_google_api([map]) }}
                

                {#{{ ivory_google_map_css(map) }}
                {{ ivory_google_map_container(map) }}
                {{ ivory_google_map_js(map) }}#}
            </div>
        </div>
    </div>
    <div class="row">
        <h2>{{ 'Legacy Instances'|trans }}</h2>
        {% for country, insts in legacyInstances %}
            {% include 'Celsius3CoreBundle:Directory:_instance.html.twig' %}
        {% else %}
            {{ 'There are no instances.' | trans }}
        {% endfor %}
    </div>
{% endblock %}
