{% extends 'Celsius3CoreBundle:Layout:directory_layout.html.twig' %}

{% block title %}
   {{ 'Request Instance'|trans }}
{% endblock %}


{% block content %}


 <div class="register-box">
    <div class="register-logo">
        <h2>{{ 'Instance Register'|trans }}</h2>
    </div>
    {{ form_start(form, { 'attr': { 'action':path('directory_instance_create'), 'class': 'form-horizontal', 'role': 'form' }}) }}
        <div class="register-box-body">
            {% include 'Celsius3CoreBundle:Layout:_flashes.html.twig' %}

                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_institucion,{attr:{class:'form-control',placeholder: 'registar_instance.url_institucion' | trans | first_upper }}) }}

                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_biblioteca,{attr:{class:'form-control',placeholder: 'registar_instance.url_biblioteca' | trans | first_upper }}) }}
                        <span class="glyphicon glyphicon-url form-control-feedback"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_catalogo,{attr:{class:'form-control',placeholder: 'registar_instance.url_catalogo' | trans | first_upper}}) }}
                        <span class="glyphicon glyphicon-url form-control-feedback"></span>
                    </div>
                </div>
            </div>




            <div class="row">
                   <div class="col-md-12">
                        <div class="form-group has-feedback">
                            {{ form_widget(form.observaciones,{attr:{class:'form-control',placeholder: 'registar_instance.observaciones' | trans | first_upper }}) }}
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <div class="form-group has-feedback">
                        {{ 'Migrar_otra_version'|trans }}
                        {{ form_widget(form.migrar,{attr:{class:'form-control',placeholder: 'registar_instance.migrar_otra_version' | trans | first_upper }}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form.recaptcha) }}
                    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

                    {{ form_widget(form.recaptcha, { 'attr': {
                    'options' : {
                    'theme': 'light',
                    'type': 'image',
                    'size': 'normal'
                    },
                    } }) }}
                </div>

            </div>

        </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.abbreviation,{attr:{class:'form-control',placeholder: 'registar_instance.abrev_institucion' | trans | first_upper}}) }}
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_institucion,{attr:{class:'form-control',placeholder: 'registar_instance.url_institucion' | trans | first_upper }}) }}

                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_biblioteca,{attr:{class:'form-control',placeholder: 'registar_instance.url_biblioteca' | trans | first_upper }}) }}
                        <span class="glyphicon glyphicon-url form-control-feedback"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        {{ form_widget(form.sitio_catalogo,{attr:{class:'form-control',placeholder: 'registar_instance.url_catalogo' | trans | first_upper}}) }}
                        <span class="glyphicon glyphicon-url form-control-feedback"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                   <div class="col-md-12">
                        <div class="form-group has-feedback">
                            {{ form_widget(form.observaciones,{attr:{class:'form-control',placeholder: 'registar_instance.observaciones' | trans | first_upper }}) }}
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <div class="form-group has-feedback">
                        {{ 'Migrar_otra_version'|trans }}
                        {{ form_widget(form.migrar,{attr:{class:'form-control',placeholder: 'registar_instance.migrar_otra_version' | trans | first_upper }}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form.recaptcha) }}
                    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}

                    {{ form_widget(form.recaptcha, { 'attr': {
                    'options' : {
                    'theme': 'light',
                    'type': 'image',
                    'size': 'normal'
                    },
                    } }) }}
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"><span class="glyphicon glyphicon-ok"></span> {{ 'Save'|trans }}</button>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>
</div>


{% endblock %}
