<div class="sorting-group pull-right">
    <span>
        {{ 'Sort by'|trans }}: 
    </span>
    {% include 'CelsiusCelsius3Bundle:UserNotification:_index_sort.html.twig' %}
</div>
<div class="clearfix"></div>
{% for notifications in pagination %}
{% if notifications.viewed == 0 %}
    <div id="id{{ notifications.id }}" class="accordion journal">
{% else %}
    <div id="id{{ notifications.id }}" class="accordion">
{% endif %}

    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse{{ notifications.id }}" data-parent="#id{{ notifications.id }}" data-toggle="collapse" class="accordion-toggle">
                <span>{{notifications.cause}}</span>
            </a>
            {% include 'CelsiusCelsius3Bundle:UserNotification:_index_list_actions.html.twig' %}
        </div>
        <div class="accordion-body collapse" id="collapse{{ notifications.id }}">
            <div class="accordion-inner">
                {% include 'CelsiusCelsius3Bundle:UserNotification:_show_fields.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}