{% extends 'CelsiusCelsius3Bundle:Layout:layout.html.twig' %}

{% block title %}
{{ 'Notification List'|trans }}
{% endblock %}

{% block content %}

<h2>{{ ['user_notification'|capitalize, 's List']|join|trans }}</h2>

<div class="row">
    <div class="span9">
        {% include 'CelsiusCelsius3Bundle:Layout:_flashes.html.twig' %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% include 'CelsiusCelsius3Bundle:UserNotification:_index_fields.html.twig' %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <div class="span3">
        <div id="accordion" class="accordion">
            {% if filter_form %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-search"></i> {{ 'Filters'|trans }}
                    </a>
                </div>
                <div class="accordion-body collapse" id="collapseOne">
                    <div class="accordion-inner">
                        {% from "CelsiusCelsius3Bundle:Macro:crud.html.twig" import filter as filter %}

                        {{ filter('user_notification', filter_form) }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                        <i class="icon-wrench"></i> {{ 'Actions'|trans }}
                    </a>
                </div>
                <div class="accordion-body in collapse" id="collapseTwo">
                    <div class="accordion-inner">
                        {% include 'CelsiusCelsius3Bundle:UserNotification:_index_actions.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
