<div class="span6">
    <div class="well">
        <h2 class="pull-left">{{ 'Last orders'|trans }}</h2>
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('user_order_new') }}">
                <i class="icon-file"></i> {{ 'New'|trans }}
            </a>
            <a class="btn" href="{{ path('user_order') }}">
                <i class="icon-list-alt"></i> {{ 'All'|trans }}
            </a>
        </div>
        <div class="clearfix"></div>
        <ul class="nav nav-list">
            <li>
                <a href="#">145 - Pedido Revista X (Recibido)</a>
            </li>
            <li>
                <a href="#">214 - Pedido Revista Y (Solicitado)</a>
            </li>
            <li>
                <a href="#">315 - Pedido Revista Z (Nuevo)</a>
            </li>
            <li>
                ...
            </li>
        </ul>
    </div>
</div>