{% extends 'Celsius3CoreBundle:Order:_show_fields.html.twig' %}

{% block extrafields %}
<dt>{{ 'User'|trans }}</dt>
<dd><a href="{{ path('superadmin_user',{ 'id': element.owner.id }) }}">{{ element.owner.username }}</a></dd>
<dt>{{ 'Instance'|trans }}</dt>
<dd>{{ element.instance }}</dd>
{% endblock %}