{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}


{% block content -%}

 <a href="{{ path('ticket_index') }}">Volver al Listado</a>
<div class="row">
    <div class="col-md-12 col-md-offset-0 panel panel-default">
        <h3>{{ 'Informacion del Ticket'|trans }}</h3>
        <br>
        <div class="row">
            <div class="col-md-2"><b>Tema:</b></div>
            <div class="col-md-4">{{ ticket.subject }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><b>Descripcion:</b></div>
            <div class="col-md-4">{{ ticket.text | raw }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><b>Estado:</b></div>
            <div class="col-md-4"><span class="label label-danger">{{ ticket.statusCurrent.typeState.typeState }}</span></div>
        </div>

        <div class="row">
            <div class="col-md-2"><b>Prioridad:</b></div>
            <div class="col-md-4">{{ ticket.priority.priority }}</div>
        </div>

        <div class="row">
            <div class="col-md-2"><b>Categoria:</b></div>
            <div class="col-md-4">{{ ticket.category }}</div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Historial estado</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Fecha Creado</th>
                        </tr>
                        {% for history in ticket.statusHistory %}
                        <tr>
                            <td>{{ history.user }}</td>
                            <td><span class="label label-success">{{ history.typeState.typeState }}</span></td>
                            <td>{{ history.createdAt | date('Y-m-d') }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}
