{% extends 'Celsius3CoreBundle:Layout:layout.html.twig' %}


{% block content -%}

 <a href="{{ path('ticket_index') }}">Volver al Listado</a>
<div class="row">
    <div class="col-md-12 col-md-offset-0 panel panel-default">
        <h3>{{ 'Informacion del Ticket'|trans }}</h3>
        <br>
        <div class="row">
            <div class="col-md-2"><b>Tema:</b></div>
            <div class="col-md-4">{{ ticket.subject }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><b>Descripcion:</b></div>
            <div class="col-md-4">{{ ticket.text | raw }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><b>Estado:</b></div>
            <div class="col-md-4">{{ ticket.statusCurrent.typeState.typeState }}</div>
        </div>

        <div class="row">
            <div class="col-md-2"><b>Prioridad:</b></div>
            <div class="col-md-4">{{ ticket.priority.priority }}</div>
        </div>

        <div class="row">
            <div class="col-md-2"><b>Categoria:</b></div>
            <div class="col-md-4">{{ ticket.category }}</div>
        </div>
    </div>
</div>
<div class="row">

</div>

{% endblock %}
