<dl class="dl-horizontal">
    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ element.name }}</dd>
    <dt>{{ 'Url'|trans }}</dt>
    <dd><a href="{{ element.url }}" target="_blank">{{ element.url }}</a></dd>
    <dt>{{ 'Comments'|trans }}</dt>
    <dd>{{ element.comments?element.comments:'-' }}</dd>
    <dt>{{ 'Institution'|trans }}</dt>
    <dd>{{ element.institution?element.institution:'-' }}</dd>
</dl>
