{% extends 'CelsiusCelsius3Bundle:Public:public.html.twig' %}

{% block title %}
{{ 'Home'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div id="description" class="span6">
        {{ instance.get('instance_description').value|raw }}
    </div>
    <div id="news" class="span6">
        <h3>
            {{ 'Latest News'|trans }}
                <a href="{{path('instance_rss_news',{'urlInstance': instance.url })}}">
                    <img src="{{ asset('bundles/celsiuscelsius3/images/rss.jpg') }}" height="32" width="32" />
                </a>
                <a href="{{path('instance_atom_news',{'urlInstance': instance.url })}}">
                    <img src="{{ asset('bundles/celsiuscelsius3/images/atom.jpg') }}" height="32" width="32" />
                </a>
        </h3>
        {% for news in lastNews %}
        {% include 'CelsiusCelsius3Bundle:Public:_news.html.twig' %}
        {% include 'CelsiusCelsius3Bundle:Public:_news_modal.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
