{% extends 'CelsiusCelsius3Bundle:Public:public.html.twig' %}

{% block title %}
{{ 'Home'|trans }}
{% endblock %}

{% block content %}
<div class="row">
    <div id="description" class="span6">
        <h3>{{ 'Welcome'|trans }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus sem. Nulla facilisi. Vestibulum tortor ligula, posuere sit amet dapibus vitae, volutpat at lorem. Phasellus sodales quam eu sem volutpat eget suscipit sapien facilisis. Nulla facilisis gravida ipsum, in sodales magna euismod quis. Morbi nibh arcu, sodales vel eleifend id, volutpat eget purus. Curabitur odio lorem, suscipit quis malesuada at, adipiscing non arcu. Aenean dapibus lobortis dolor, non iaculis nunc hendrerit quis. Aliquam tellus neque, tincidunt vitae fringilla quis, venenatis sed dolor. Etiam non dui quis justo egestas tincidunt. Praesent fringilla sollicitudin ornare. In bibendum blandit felis a dapibus.</p>
        <p>Sed et turpis odio. Donec ligula lacus, ultricies vitae lobortis a, semper eget mi. Quisque sit amet mi at dolor consectetur pharetra. Cras feugiat elementum dui pellentesque rhoncus. Curabitur odio orci, congue eget adipiscing nec, pellentesque quis diam. Suspendisse potenti. Aenean in dolor at arcu adipiscing ultricies. Cras vel nibh sem, eget sodales sapien. Suspendisse in lorem elit. Vestibulum eget nulla diam. Suspendisse in lacus tellus, eu ultrices nunc. Cras dictum imperdiet ipsum eu ullamcorper.</p>
        <p>Donec feugiat, purus ut fermentum imperdiet, ante eros semper lectus, vitae gravida est enim pellentesque metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vehicula aliquet sem, a eleifend diam suscipit nec. Suspendisse potenti. Vestibulum et urna quis metus ornare suscipit eu ut magna. Aliquam erat volutpat. Proin dignissim lacinia elit, et posuere urna blandit convallis. Nunc a malesuada nulla. Praesent ante sapien, aliquet nec ultrices non, aliquet id tortor. Praesent vel turpis vel est laoreet aliquam ut nec massa.</p>
        <p>Nullam mattis arcu eu dolor viverra eu interdum leo tincidunt. Donec quis euismod quam. Mauris vel magna dui, vitae varius nunc. Mauris lobortis rhoncus eros eget rhoncus. Sed dignissim imperdiet neque, sit amet venenatis augue imperdiet vitae. Nunc sagittis venenatis purus, eget rutrum lorem volutpat non. Vestibulum eget dolor lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sapien augue, tempus vitae egestas ut, semper eget turpis. Aenean dictum ornare mauris ut sodales.</p>
        <p>Curabitur in ante ac urna lacinia elementum. Aenean nisi nisi, malesuada non vehicula sed, blandit id urna. Quisque lectus quam, sodales interdum rhoncus at, faucibus vitae massa. Phasellus eget condimentum augue. Nam dignissim eleifend leo. Curabitur nisl ligula, adipiscing at pulvinar quis, eleifend eu justo. Quisque mollis sapien eget ante sagittis convallis. Nam sit amet tristique mi. Mauris porttitor tempus quam, sed tincidunt risus mattis blandit.</p>
    </div>
    <div id="news" class="span6">
        <h3>
            {{ 'Latest News'|trans }}
                <a href="{{path('instance_rss_news',{'urlInstance': instance.url })}}">
                    <img src="{{ asset('bundles/celsiuscelsius3/images/rss.jpg') }}" height="32" width="32" />
                </a>
                <a href="{{path('instance_atom_news',{'urlInstance': instance.url })}}">
                    <img src="{{ asset('bundles/celsiuscelsius3/images/atom.jpg') }}" height="32" width="32" />
                </a>
        </h3>
        {% for news in lastNews %}
        {% include 'CelsiusCelsius3Bundle:Public:_news.html.twig' %}
        {% include 'CelsiusCelsius3Bundle:Public:_news_modal.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
